openapi: 3.0.0
info:
  title: Terminal49 API Reference
  version: 0.1.0
  contact:
    name: Terminal49 API support
    url: 'https://www.terminal49.com'
    email: support@terminal49.com
  description: The Terminal 49 API offers a convenient way to programmatically track your shipments from origin to destination.
  x-label: Beta
  termsOfService: 'https://www.terminal49.com/terms'
servers:
  - url: 'https://api.terminal49.com/v2'
    description: Production
paths:
  /shipments:
    get:
      summary: List shipments
      tags:
        - Shipments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/shipment'
                  included:
                    type: array
                    items:
                      anyOf:
                        - $ref: '#/components/schemas/container'
                        - $ref: '#/components/schemas/port'
                        - $ref: '#/components/schemas/terminal'
                  links:
                    $ref: '#/components/schemas/links'
                  meta:
                    $ref: '#/components/schemas/meta'
              examples:
                En-route to NY with inland move:
                  value:
                    data:
                      id: 512ae32c-a604-44f8-9c15-2ca9cd3d2ae8
                      type: shipment
                      attributes:
                        bill_of_lading_number: '6140575020'
                        ref_numbers:
                          - my-ref-49
                          - 'PO#18412'
                        created_at: '2020-02-20T13:37:12Z'
                        tags: []
                        port_of_lading_locode: INVTZ
                        port_of_lading_name: 'Visakhapatnam, IN'
                        port_of_discharge_locode: USNYC
                        port_of_discharge_name: 'New York / New Jersey, NY'
                        destination_locode: USDET
                        destination_name: 'Detroit, MI'
                        shipping_line_scac: HLCU
                        pod_vessel_name: CMA CGM ALMAVIVA
                        pod_vessel_imo: '9450648'
                        pod_voyage_number: 0108
                        pol_etd_at: null
                        pol_atd_at: '2020-02-15T21:53Z'
                        pol_timezone: Asia/Calcutta
                        pod_eta_at: '2020-03-18T08:00Z'
                        pod_ata_at: null
                        pod_timezone: America/New_York
                        destination_eta_at: '2020-03-26T17:00Z'
                        destination_ata_at: null
                        destination_timezone: America/Detroit
                      relationships:
                        containers:
                          data:
                            - id: c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa
                              type: container
                        port_of_lading:
                          data:
                            id: bde5465a-1160-4fde-a026-74df9c362f65
                            type: port
                        port_of_discharge:
                          data:
                            id: f7cb530a-9e60-412c-a5bc-205a2f34ba54
                            type: port
                        destination:
                          data:
                            id: c9ae2b6b-5088-4e07-ba09-2872121e4fa2
                            type: metro_area
                        customer:
                          data:
                            id: ff76b51a-371e-45ec-86d1-9d03ccae566a
                            type: account
                    included:
                      - id: c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa
                        type: container
                        attributes:
                          number: UACU4743531
                          equipment_type: reefer
                          length: 40
                          height: high_cube
                          weight: 35075
                          weight_unit: kigs
                          created_at: '2020-02-20T08:19:52Z'
                          seal_number: null
                          pickup_lfd: null
                          availability_known: false
                          available_for_pickup: null
                          current_transportation_mode: vessel
                          pod_discharged_at: null
                          pod_picked_up_at: null
                          destination_unloaded_at: null
                          destination_picked_up_at: null
                          empty_returned_at: null
                          pod_timezone: America/Los_Angeles
                          destination_timezone: America/Detroit
                          empty_returned_timezone: null
                        relationships:
                          most_recent_location:
                            data:
                              id: dd179094-a1d4-4129-842d-b952e43df4b7
                              type: port
                          shipment:
                            data:
                              id: 512ae32c-a604-44f8-9c15-2ca9cd3d2ae8
                              type: shipment
                          current_vessel:
                            data:
                              id: 252a5450-2893-4207-b5c4-81ce3152ce84
                              type: vessel
                      - id: bde5465a-1160-4fde-a026-74df9c362f65
                        type: port
                        attributes:
                          name: Visakhapatnam
                          locode: INVTZ
                          country_code: IN
                          timezone: Asia/Calcutta
                      - id: dd179094-a1d4-4129-842d-b952e43df4b7
                        type: port
                        attributes:
                          name: Damietta
                          locode: EGDAM
                          country_code: EG
                          time_zone: Africa/Cairo
                      - id: f7cb530a-9e60-412c-a5bc-205a2f34ba54
                        type: port
                        attributes:
                          name: New York / New Jersey
                          locode: USNYC
                          country_code: US
                          timezone: America/New_York
                      - id: c9ae2b6b-5088-4e07-ba09-2872121e4fa2
                        type: metro_area
                        attributes:
                          name: Detroit
                          locode: USDET
                          country_code: US
                          state_abbr: MI
                          timezone: America/Detroit
                      - id: ff76b51a-371e-45ec-86d1-9d03ccae566a
                        type: account
                        attributes:
                          name: A-Z Imports
                      - id: 252a5450-2893-4207-b5c4-81ce3152ce84
                        type: vessel
                        attributes:
                          name: CMA CGM ALMAVIVA
                          imo: '9450648'
                          mmsi: '228339600'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/error'
              examples:
                Errors:
                  value:
                    error:
                      - title: Invalid arrival_date_from
                        detail: 'filter[''arrival_from''] must be in the format ''YYYY-MM-DD'' and a valid date'
                      - title: Invalid arrival_date_to
                        detail: 'filter[''arrival_from''] must be in the format ''YYYY-MM-DD'' and a valid date'
                      - title: Invalid port_of_lading
                        detail: port_of_discharge must be an array of 5 character UN/LOCODEs
                      - title: Invalid port_of_discharge
                        detail: port_of_discharge must be an array of 5 character UN/LOCODEs
      operationId: get-shipments
      description: |-
        Returns a list of your shipments. The shipments are returned sorted by creation date, with the most recent shipments appearing first.

        This api will return all shipments associated with the account. Shipments created via the `tracking_request` API aswell as the ones added via the dashboard will be retuned via this endpoint. 
      parameters:
        - schema:
            type: integer
            default: 1
          in: query
          name: 'page[number]'
          description: |+

        - schema:
            type: integer
            default: 30
          in: query
          name: 'page[size]'
          description: |+

        - schema:
            type: string
          in: query
          name: q
          description: |-

            Search shipments by master bill of lading, reference number, or container number.
  '/shipments/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: Shipment Id
    get:
      summary: Get a shipment
      tags:
        - Shipments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/shipment'
                  included:
                    type: array
                    items:
                      anyOf:
                        - $ref: '#/components/schemas/container'
                        - $ref: '#/components/schemas/port'
                        - $ref: '#/components/schemas/terminal'
              examples:
                En-route to NY with inland move:
                  value:
                    data:
                      id: 512ae32c-a604-44f8-9c15-2ca9cd3d2ae8
                      type: shipment
                      attributes:
                        bill_of_lading_number: '6140575020'
                        ref_numbers:
                          - my-ref-49
                          - 'PO#18412'
                        created_at: '2020-02-20T13:37:12Z'
                        tags: []
                        port_of_lading_locode: INVTZ
                        port_of_lading_name: 'Visakhapatnam, IN'
                        port_of_discharge_locode: USNYC
                        port_of_discharge_name: 'New York / New Jersey, NY'
                        destination_locode: USDET
                        destination_name: 'Detroit, MI'
                        shipping_line_scac: HLCU
                        pod_vessel_name: CMA CGM ALMAVIVA
                        pod_vessel_imo: '9450648'
                        pod_voyage_number: 0108
                        pol_etd_at: null
                        pol_atd_at: '2020-02-15T21:53Z'
                        pol_timezone: Asia/Calcutta
                        pod_eta_at: '2020-03-18T08:00Z'
                        pod_ata_at: null
                        pod_timezone: America/New_York
                        destination_eta_at: '2020-03-26T17:00Z'
                        destination_ata_at: null
                        destination_timezone: America/Detroit
                      relationships:
                        containers:
                          data:
                            - id: c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa
                              type: container
                        port_of_lading:
                          data:
                            id: bde5465a-1160-4fde-a026-74df9c362f65
                            type: port
                        port_of_discharge:
                          data:
                            id: f7cb530a-9e60-412c-a5bc-205a2f34ba54
                            type: port
                        destination:
                          data:
                            id: c9ae2b6b-5088-4e07-ba09-2872121e4fa2
                            type: metro_area
                        customer:
                          data:
                            id: ff76b51a-371e-45ec-86d1-9d03ccae566a
                            type: account
                    included:
                      - id: c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa
                        type: container
                        attributes:
                          number: UACU4743531
                          equipment_type: reefer
                          length: 40
                          height: high_cube
                          weight: 35075
                          weight_unit: kigs
                          created_at: '2020-02-20T08:19:52Z'
                          seal_number: null
                          pickup_lfd: null
                          availability_known: false
                          available_for_pickup: null
                          current_transportation_mode: vessel
                          pod_discharged_at: null
                          pod_picked_up_at: null
                          destination_unloaded_at: null
                          destination_picked_up_at: null
                          empty_returned_at: null
                          pod_timezone: America/Los_Angeles
                          destination_timezone: America/Detroit
                          empty_returned_timezone: null
                        relationships:
                          most_recent_location:
                            data:
                              id: dd179094-a1d4-4129-842d-b952e43df4b7
                              type: port
                          shipment:
                            data:
                              id: 512ae32c-a604-44f8-9c15-2ca9cd3d2ae8
                              type: shipment
                          current_vessel:
                            data:
                              id: 252a5450-2893-4207-b5c4-81ce3152ce84
                              type: vessel
                      - id: bde5465a-1160-4fde-a026-74df9c362f65
                        type: port
                        attributes:
                          name: Visakhapatnam
                          locode: INVTZ
                          country_code: IN
                          timezone: Asia/Calcutta
                      - id: dd179094-a1d4-4129-842d-b952e43df4b7
                        type: port
                        attributes:
                          name: Damietta
                          locode: EGDAM
                          country_code: EG
                          time_zone: Africa/Cairo
                      - id: f7cb530a-9e60-412c-a5bc-205a2f34ba54
                        type: port
                        attributes:
                          name: New York / New Jersey
                          locode: USNYC
                          country_code: US
                          timezone: America/New_York
                      - id: c9ae2b6b-5088-4e07-ba09-2872121e4fa2
                        type: metro_area
                        attributes:
                          name: Detroit
                          locode: USDET
                          country_code: US
                          state_abbr: MI
                          timezone: America/Detroit
                      - id: ff76b51a-371e-45ec-86d1-9d03ccae566a
                        type: account
                        attributes:
                          name: A-Z Imports
                      - id: 252a5450-2893-4207-b5c4-81ce3152ce84
                        type: vessel
                        attributes:
                          name: CMA CGM ALMAVIVA
                          imo: '9450648'
                          mmsi: '228339600'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/error'
              examples:
                En-route to NY with inland move:
                  value:
                    data:
                      id: 512ae32c-a604-44f8-9c15-2ca9cd3d2ae8
                      type: shipment
                      attributes:
                        bill_of_lading_number: '6140575020'
                        ref_numbers:
                          - my-ref-49
                          - 'PO#18412'
                        created_at: '2020-02-20T13:37:12Z'
                        tags: []
                        port_of_lading_locode: INVTZ
                        port_of_lading_name: 'Visakhapatnam, IN'
                        port_of_discharge_locode: USNYC
                        port_of_discharge_name: 'New York / New Jersey, NY'
                        destination_locode: USDET
                        destination_name: 'Detroit, MI'
                        shipping_line_scac: HLCU
                        pod_vessel_name: CMA CGM ALMAVIVA
                        pod_voyage_number: 0108
                        pol_etd_at: null
                        pol_atd_at: '2020-02-15T21:53Z'
                        pol_timezone: Asia/Calcutta
                        pod_eta_at: '2020-03-18T08:00Z'
                        pod_ata_at: null
                        pod_timezone: America/New_York
                        destination_eta_at: '2020-03-26T17:00Z'
                        destination_ata_at: null
                        destination_timezone: America/Detroit
                      relationships:
                        containers:
                          data:
                            - id: c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa
                              type: container
                        port_of_lading:
                          data:
                            id: bde5465a-1160-4fde-a026-74df9c362f65
                            type: port
                        port_of_discharge:
                          data:
                            id: f7cb530a-9e60-412c-a5bc-205a2f34ba54
                            type: port
                        destination:
                          data:
                            id: c9ae2b6b-5088-4e07-ba09-2872121e4fa2
                            type: metro_area
                        customer:
                          data:
                            id: ff76b51a-371e-45ec-86d1-9d03ccae566a
                            type: account
                    included:
                      - id: c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa
                        type: container
                        attributes:
                          number: UACU4743531
                          equipment_type: reefer
                          length: 40
                          height: high_cube
                          weight: 35075
                          weight_unit: kigs
                          created_at: '2020-02-20T08:19:52Z'
                          seal_number: null
                          pickup_lfd: null
                          availability_known: false
                          available_for_pickup: null
                          current_transportation_mode: vessel
                          pod_discharged_at: null
                          pod_picked_up_at: null
                          destination_unloaded_at: null
                          destination_picked_up_at: null
                          empty_returned_at: null
                          pod_timezone: America/Los_Angeles
                          destination_timezone: America/Detroit
                          empty_returned_timezone: null
                        relationships:
                          most_recent_location:
                            data:
                              id: dd179094-a1d4-4129-842d-b952e43df4b7
                              type: port
                          shipment:
                            data:
                              id: 512ae32c-a604-44f8-9c15-2ca9cd3d2ae8
                              type: shipment
                          current_vessel:
                            data:
                              id: 252a5450-2893-4207-b5c4-81ce3152ce84
                              type: vessel
                      - id: bde5465a-1160-4fde-a026-74df9c362f65
                        type: port
                        attributes:
                          name: Visakhapatnam
                          locode: INVTZ
                          country_code: IN
                          timezone: Asia/Calcutta
                      - id: dd179094-a1d4-4129-842d-b952e43df4b7
                        type: port
                        attributes:
                          name: Damietta
                          locode: EGDAM
                          country_code: EG
                          time_zone: Africa/Cairo
                      - id: f7cb530a-9e60-412c-a5bc-205a2f34ba54
                        type: port
                        attributes:
                          name: New York / New Jersey
                          locode: USNYC
                          country_code: US
                          timezone: America/New_York
                      - id: c9ae2b6b-5088-4e07-ba09-2872121e4fa2
                        type: metro_area
                        attributes:
                          name: Detroit
                          locode: USDET
                          country_code: US
                          state_abbr: MI
                          timezone: America/Detroit
                      - id: ff76b51a-371e-45ec-86d1-9d03ccae566a
                        type: account
                        attributes:
                          name: A-Z Imports
                      - id: 252a5450-2893-4207-b5c4-81ce3152ce84
                        type: vessel
                        attributes:
                          name: CMA CGM ALMAVIVA
                          imo: '9450648'
                          mmsi: '228339600'
      operationId: get-shipment-id
      description: Retrieves the details of an existing shipment. You need only supply the unique shipment `id` that was returned upon `tracking_request` creation.
  /tracking_requests:
    post:
      summary: Create a tracking request
      operationId: post-track
      responses:
        '201':
          description: Tracking Request Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/tracking_request'
                  included:
                    type: array
                    items:
                      anyOf:
                        - $ref: '#/components/schemas/account'
                        - $ref: '#/components/schemas/shipping_line'
              examples:
                Pending Tracking Request:
                  value:
                    data:
                      id: ba4cb904-827f-4038-8e31-1e92b3356218
                      type: tracking_request
                      attributes:
                        request_number: MEDUFR030802
                        request_type: bill_of_lading
                        scac: MSCU
                        ref_numbers: null
                        created_at: '2020-04-04T16:13:35-07:00'
                        status: pending
                        failed_reason: null
                      relationships:
                        tracked_object:
                          data: null
                      links:
                        self: /v2/tracking_requests/ba4cb904-827f-4038-8e31-1e92b3356218
          headers: {}
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/error'
              examples:
                Error Examples:
                  value:
                    errors:
                      - status: '422'
                        source:
                          pointer: /data/attributes/scac
                        title: Unprocessable Entity
                        detail: Scac can't be blank
                        code: blank
                      - status: '422'
                        source:
                          pointer: /data/attributes/scac
                        title: Unprocessable Entity
                        detail: Scac 'XXXX' is not recognized
                        code: blank
                      - status: '422'
                        source:
                          pointer: /data/attributes/scac
                        title: Unprocessable Entity
                        detail: Scac 'UALC' is not supported. We do not currently integrate with Universal Africa Lines
                        code: blank
                      - status: '422'
                        source:
                          pointer: /data/attributes/request_number
                        title: Unprocessable Entity
                        detail: Request number can't be blank
                        code: blank
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      type: object
                      properties:
                        request_type:
                          type: string
                          example: bill_of_lading
                          enum:
                            - bill_of_lading
                            - tracking_number
                        request_number:
                          type: string
                          example: MEDUFR030802
                        scac:
                          type: string
                          example: MSCU
                          minLength: 4
                          maxLength: 4
                        ref_numbers:
                          type: array
                          description: Optional list of reference numbers to be added to the shipment when tracking request completes
                          items:
                            type: string
                      required:
                        - request_type
                        - request_number
                        - scac
                    type:
                      enum:
                        - tracking_request
                      type: string
                  required:
                    - type
            examples:
              'Example: MSC BL':
                value:
                  data:
                    attributes:
                      request_type: bill_of_lading
                      request_number: MEDUFR030802
                      scac: MSCU
                    type: tracking_request
        description: Create a shipment tracking request
      security:
        - Authorization_Header: []
      description: |-
        To track an ocean shipment, you create a new tracking request. 
        Two attributes are required to track a shipment. A `bill of lading/booking number` and a shipping line `SCAC`. 

        Once a tracking request is created we will attempt to fetch the shipment details and it's related containers from the shipping line. If the attempt is successful we will create in new shipment object including any related container objects. We will send a `tracking_Request.succeeded` webhook notification to your webhooks.  

        If the attempt to fetch fails then we will send a `tracking_Request.failed` webhook notification to your `webhooks`.  

        A `tracking_Request.succeeded` or `tracking_Request.failed` webhook notificaiton will only be sent  if you have  atleast one active webhook. 
      tags:
        - Tracking Requests
    parameters: []
    get:
      summary: List tracking requests
      operationId: get-tracking-requests
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/tracking_request'
                  links:
                    $ref: '#/components/schemas/links'
                  meta:
                    $ref: '#/components/schemas/meta'
                  included:
                    type: array
                    items:
                      anyOf:
                        - $ref: '#/components/schemas/account'
                        - $ref: '#/components/schemas/shipping_line'
                        - type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                            type:
                              type: string
                              enum:
                                - shipment
                            links:
                              type: object
                              properties:
                                self:
                                  type: string
                                  format: uri
                          description: ''
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/error'
      description: 'Returns a list of your tracking requests. The trackig requests are returned sorted by creation date, with the most recent tracking request appearing first.'
      tags:
        - Tracking Requests
      parameters:
        - schema:
            type: string
          in: query
          name: q
          description: A search term to be applied against request_number and reference_numbers.
        - schema:
            type: string
            enum:
              - created
              - pending
              - failed
            example: created
          in: query
          name: 'filter[status]'
          description: filter by `status`
        - schema:
            type: string
            example: MSCU
          in: query
          name: 'filter[scac]'
          description: filter by shipping line `scac`
        - schema:
            type: string
            example: '2020-04-28T22:59:15Z'
            format: date-time
          in: query
          name: 'filter[created_at][start]'
          description: filter by tracking_requests `created_at` after a certain ISO8601 timestamp
        - schema:
            type: string
            format: date-time
            example: '2020-04-28T22:59:15Z'
          in: query
          description: filter by tracking_requests `created_at` before a certain ISO8601 timestamp
          name: 'filter[created_at][end]'
  '/tracking_requests/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: Tracking Request ID
    get:
      summary: Get a single tracking request
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/tracking_request'
                  included:
                    type: array
                    items:
                      anyOf:
                        - $ref: '#/components/schemas/account'
                        - $ref: '#/components/schemas/shipment'
                        - $ref: '#/components/schemas/shipping_line'
              examples:
                With Status Created:
                  value:
                    data:
                      id: ba4cb904-827f-4038-8e31-1e92b3356218
                      type: tracking_request
                      attributes:
                        request_number: MEDUFR030802
                        request_type: bill_of_lading
                        scac: MSCU
                        ref_numbers: null
                        created_at: '2020-04-04T16:13:35-07:00'
                        status: created
                        failed_reason: null
                      relationships:
                        tracked_object:
                          data:
                            id: eb6f218a-0b4a-47f9-8ef9-759aa5e0ea83
                            type: shipment
                      links:
                        self: /v2/tracking_requests/ba4cb904-827f-4038-8e31-1e92b3356218
                    included:
                      - id: eb6f218a-0b4a-47f9-8ef9-759aa5e0ea83
                        type: shipment
                        attributes:
                          created_at: '2020-04-04T16:13:37-07:00'
                          bill_of_lading_number: MEDUFR030802
                          ref_numbers:
                            - null
                          shipping_line_scac: MSCU
                          shipping_line_name: Mediterranean Shipping Company
                          port_of_lading_locode: FRFOS
                          port_of_lading_name: Fos-Sur-Mer
                          port_of_discharge_locode: USOAK
                          port_of_discharge_name: Oakland
                          pod_vessel_name: MSC ALGECIRAS
                          pod_vessel_imo: '9605243'
                          pod_voyage_number: 920A
                          destination_locode: USOAK
                          destination_name: Oakland
                          destination_timezone: America/Los_Angeles
                          destination_ata_at: '2019-06-21T18:46:00-07:00'
                          destination_eta_at: null
                          pol_etd_at: null
                          pol_atd_at: '2019-05-24T03:00:00-07:00'
                          pol_timezone: Europe/Paris
                          pod_eta_at: null
                          pod_ata_at: '2019-06-21T18:46:00-07:00'
                          pod_timezone: America/Los_Angeles
                        relationships:
                          port_of_lading:
                            data:
                              id: 6d8c6c29-72a6-49ad-87b7-fd045f202212
                              type: port
                          port_of_discharge:
                            data:
                              id: 42d1ba3a-f4b8-431d-a6fe-49fd748a59e7
                              type: port
                          pod_terminal:
                            data: null
                          destination:
                            data:
                              id: 42d1ba3a-f4b8-431d-a6fe-49fd748a59e7
                              type: port
                          containers:
                            data:
                              - id: 11c1fa10-52a5-48e2-82f4-5523756b3d0f
                                type: container
                        links:
                          self: /v2/shipments/eb6f218a-0b4a-47f9-8ef9-759aa5e0ea83
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/error'
              examples: {}
      operationId: get-track-request-by-id
      description: 'Get the details and status of an existing tracking request. '
      tags:
        - Tracking Requests
  '/webhooks/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Get single webhook
      tags:
        - Webhooks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/webhook'
      operationId: get-webhooks-id
      description: Get the details of a single webhook
    patch:
      summary: Edit a webhook
      operationId: patch-webhooks-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/webhook'
      description: Update a single webhook
      tags:
        - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  required:
                    - attributes
                    - type
                  properties:
                    attributes:
                      type: object
                      properties:
                        url:
                          type: string
                          example: 'https://webhook.site/#!/39084fbb-d887-42e8-be08-b9183ad02362'
                          format: uri
                          description: The URL of the webhook endpoint.
                        events:
                          type: array
                          uniqueItems: true
                          description: 'The list of events to enable for this endpoint. You may specify `[''*'']` to enable all events.'
                          items:
                            type: string
                            example: '[''*'']'
                        active:
                          type: boolean
                        headers:
                          type: array
                          description: Optional custom headers to pass with each webhook invocation
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                description: 'The name of the header. (Please not this will be auto-capitalized) '
                              value:
                                type: string
                                description: |
                                  The value to pass for the header
                    type:
                      type: string
                      enum:
                        - webhook
              required:
                - data
    delete:
      summary: Delete a webhook
      operationId: delete-webhooks-id
      responses:
        '200':
          description: OK
      description: Delete a webhook
      tags:
        - Webhooks
  /webhooks:
    get:
      summary: List webhooks
      tags:
        - Webhooks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/webhook'
                  meta:
                    $ref: '#/components/schemas/meta'
                  links:
                    $ref: '#/components/schemas/links'
      operationId: get-webhooks
      description: Get a list of all the webhooks
    post:
      summary: Create a webhook
      operationId: post-webhooks
      tags:
        - Webhooks
      description: |-
        You can configure a webhook via the API to be notified about events that happen in your Terminal49 account. These events can be realted to tracking_requests, shipments and containers. 

        This is the recommended way tracking shipments and containers via the API. You should use this instead of polling our the API periodically.  
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  required:
                    - attributes
                    - type
                  properties:
                    attributes:
                      type: object
                      required:
                        - url
                        - events
                        - active
                      properties:
                        url:
                          type: string
                          example: 'https://webhook.site/#!/39084fbb-d887-42e8-be08-b9183ad02362'
                          format: uri
                          description: The URL of the webhook endpoint.
                        events:
                          type: array
                          uniqueItems: true
                          description: 'The list of events to enable for this endpoint. You may specify `[''*'']` to enable all events.'
                          items:
                            type: string
                            example: '[''*'']'
                        active:
                          type: boolean
                        headers:
                          type: array
                          description: Optional custom headers to pass with each webhook invocation
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                description: 'The name of the header. (Please not this will be auto-capitalized) '
                              value:
                                type: string
                                description: |
                                  The value to pass for the header
                    type:
                      type: string
                      enum:
                        - webhook
              required:
                - data
            examples:
              Test Webhook via webhook.site:
                value:
                  data:
                    type: webhook
                    attributes:
                      url: 'https://webhook.site/'
                      active: true
                      events:
                        - '*'
        description: ''
      responses:
        '201':
          description: Create a test webhook endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook'
              examples:
                Test Endpoint Created:
                  value:
                    data:
                      type: webhook
                      attributes:
                        id: 9809fb96-7754-488f-99df-29ca8d410d89
                        url: 'https://webhook.site/'
                        active: true
                        events:
                          - '*'
                        created_at: '2020-06-05T19:06:13Z'
            application/xml:
              schema:
                $ref: '#/components/schemas/webhook'
    parameters: []
  /containers:
    get:
      summary: List containers
      tags:
        - Containers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/container'
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/shipment'
                  links:
                    $ref: '#/components/schemas/links'
                  meta:
                    $ref: '#/components/schemas/meta'
              examples: {}
      operationId: get-containers
      description: |-
        Returns a list of container. The containers are returned sorted by creation date, with the most recent container appearing first.

        This API will return all containers associated with the account.
      parameters:
        - schema:
            type: integer
            default: 1
          in: query
          name: 'page[number]'
        - schema:
            type: integer
            default: 30
          in: query
          name: 'page[size]'
          description: ''
  '/containers/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Get a container
      tags:
        - Containers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/container'
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/shipment'
      operationId: get-containers-id
      description: Retrieves the details of a container.
x-tagGroups:
  - name: End Points
    tags:
      - Shipments
      - Containers
      - Tracking Requests
      - Webhooks
      - Webhook Notifications
components:
  schemas:
    shipment:
      title: Shipment model
      type: object
      x-examples: {}
      description: ''
      properties:
        id:
          type: string
          format: uuid
        relationships:
          type: object
          properties:
            destination:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                        - port
                        - metro_area
                    id:
                      type: string
                      format: uuid
                  required:
                    - type
                    - id
            port_of_lading:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                        - port
                    id:
                      type: string
                      format: uuid
                  required:
                    - type
                    - id
            containers:
              type: object
              properties:
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - container
                      id:
                        type: string
                        format: uuid
                    required:
                      - type
                      - id
            port_of_discharge:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                        - port
                    id:
                      type: string
                      format: uuid
                  required:
                    - type
                    - id
            customer:
              type: object
              description: '`unreleased`'
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                        - account
                    id:
                      type: string
                      format: uuid
            pod_terminal:
              type: object
              properties:
                type:
                  type: string
                  enum:
                    - terminal
                id:
                  type: string
                  format: uuid
        attributes:
          type: object
          properties:
            bill_of_lading_number:
              type: string
            ref_numbers:
              type: array
              items:
                type: string
            created_at:
              type: string
              format: uri
            tags:
              type: array
              description: '`unreleased`'
              items:
                type: string
            port_of_lading_locode:
              type: string
              description: UN/LOCODE
            port_of_lading_name:
              type: string
            port_of_discharge_locode:
              type: string
              description: UN/LOCODE
            port_of_discharge_name:
              type: string
            destination_locode:
              type: string
              description: UN/LOCODE
            destination_name:
              type: string
            shipping_line_scac:
              type: string
            pod_vessel_name:
              type: string
            pod_vessel_imo:
              type: string
            pod_voyage_number:
              type: string
            pol_etd_at:
              type: string
              format: date-time
            pol_atd_at:
              type: string
              format: date-time
            pod_eta_at:
              type: string
              format: date-time
            pod_ata_at:
              type: string
              format: date-time
            destination_eta_at:
              type: string
              format: date-time
            destination_ata_at:
              type: string
              format: date-time
            pol_timezone:
              type: string
              description: IANA tz
            pod_timezone:
              type: string
              description: IANA tz
            destination_timezone:
              type: string
              description: IANA tz
          required:
            - bill_of_lading_number
        type:
          type: string
          enum:
            - shipment
      required:
        - id
        - type
    meta:
      title: meta
      type: object
      properties:
        size:
          type: integer
        total:
          type: integer
    links:
      title: links
      type: object
      properties:
        last:
          type: string
          format: uri
        next:
          type: string
          format: uri
        prev:
          type: string
          format: uri
        first:
          type: string
          format: uri
        self:
          type: string
          format: uri
    container:
      title: Container model
      type: object
      x-examples: {}
      description: Represents the equipment during a specific journey.
      properties:
        id:
          type: string
          format: uuid
        attributes:
          type: object
          properties:
            number:
              type: string
            equipment_type:
              type: string
              enum:
                - dry
                - reefer
                - open top
                - flat rack
                - bulk
                - tank
            equipment_length:
              type: integer
              enum:
                - 10
                - 20
                - 40
                - 45
            equipment_height:
              type: string
              enum:
                - standard
                - high_cube
            weight_in_lbs:
              type: string
            created_at:
              type: string
              format: date-time
            seal_number:
              type: string
            pickup_lfd:
              type: string
              format: date-time
              description: The last free day for pickup before deummurage accrues.
            pickup_apopintment_at:
              type: string
              format: date-time
              description: When available the pickup appointment time at the terminal is returned.
            availability_known:
              type: boolean
              description: Whether Terminal 49 is receiving availability status from the terminal.
            available_for_pickup:
              type: boolean
              description: 'If availability_known is true, then whether container is available to be picked up at terminal.'
            current_transportation_mode:
              type: string
              enum:
                - vessel
                - rail
                - truck
                - grounded
              description: '`unreleased`'
            pod_discharged_at:
              type: string
              format: date-time
              description: '`unreleased` Discharge time at the port of discharge'
            pod_full_out_at:
              type: string
              format: date-time
              description: Full Out time at port of discharge. Null for inland moves.
            destination_unloaded_at:
              type: string
              format: date-time
              description: '`unreleased` Arrival or unloading time at final destination for inland moves.'
            final_destination_full_out_at:
              type: string
              format: date-time
              description: '`unreleased` Pickup time at final destination for inland moves.'
            empty_terminated_at:
              type: string
              format: date-time
              description: '`unreleased` Time empty container was returned.'
            pod_timezone:
              type: string
              description: '`unreleased` IANA tz'
            destination_timezone:
              type: string
              description: '`unreleaed` IANA tz'
            empty_returned_timezone:
              type: string
              description: '`unreleased` IANA tz'
            holds_at_pod_terminal:
              type: array
              items:
                $ref: '#/components/schemas/terminal_hold'
            fees_at_pod_terminal:
              type: array
              items:
                $ref: '#/components/schemas/terminal_fee'
        relationships:
          type: object
          properties:
            most_recent_location:
              type: object
              description: 'The current, or most recent land location.'
              properties:
                data:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    type:
                      type: string
                      enum:
                        - terminal
                        - port
                        - metroArea
            current_vessel:
              type: object
              description: The vessel the container is currently laden on.
              properties:
                data:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    type:
                      type: string
                      enum:
                        - vessel
            shipment:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    type:
                      type: string
                      enum:
                        - shipment
            final_destination:
              type: object
              description: '[PROPOSED]'
              properties:
                data:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    type:
                      type: string
                      enum:
                        - port
                        - metro_area
        pod_terminal:
          type: object
          enum:
            - container
          properties:
            data:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                type:
                  type: string
                  enum:
                    - terminal
      required:
        - id
    port:
      title: Port model
      type: object
      properties:
        id:
          type: string
          format: uuid
        attributes:
          type: object
          properties:
            name:
              type: string
            country_code:
              type: string
              description: 2 digit country code
            time_zone:
              type: string
              description: IANA tz
            code:
              type: string
              description: UN/LOCODE
        type:
          type: string
          enum:
            - port
      required:
        - id
        - type
    shipping_line:
      title: Shipping line model
      type: object
      properties:
        id:
          type: string
          format: uuid
        attributes:
          type: object
          required:
            - scac
            - name
            - nickname
          properties:
            scac:
              type: string
            name:
              type: string
            nickname:
              type: string
        type:
          type: string
          enum:
            - shipping_line
      required:
        - id
        - type
        - attributes
    account:
      title: Account model
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum:
            - container
        attributes:
          type: object
          required:
            - company_name
          properties:
            company_name:
              type: string
      required:
        - id
        - type
        - attributes
      x-examples: {}
    error:
      title: Error model
      type: object
      properties:
        detail:
          type: string
        title:
          type: string
        source:
          type: string
        code:
          type: string
        status:
          type: string
      required:
        - title
    metro_area:
      title: Metro area model
      type: object
      properties:
        id:
          type: string
          format: uuid
        attributes:
          type: object
          properties:
            name:
              type: string
            country_code:
              type: string
              description: 2 digit country code
            timezone:
              type: string
              description: IANA tz
            locode:
              type: string
              description: UN/LOCODE
        type:
          type: string
          enum:
            - metro_area
      required:
        - id
        - type
    terminal:
      title: Terminal model
      type: object
      properties:
        id:
          type: string
          format: uuid
        relationships:
          type: object
          required:
            - port
          properties:
            port:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    type:
                      type: string
                      enum:
                        - port
        attributes:
          type: object
          required:
            - name
          properties:
            name:
              type: string
            nickname:
              type: string
            firms_code:
              type: string
              description: CBP FIRMS Code or CBS Sublocation Code
        type:
          type: string
          enum:
            - terminal
      required:
        - attributes
        - relationships
    rail_terminal:
      title: Rail Terminal model
      type: object
      properties:
        id:
          type: string
          format: uuid
        relationships:
          type: object
          properties:
            port:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    type:
                      type: string
                      enum:
                        - port
            metro_area:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    type:
                      type: string
                      enum:
                        - metro_area
        attributes:
          type: object
          required:
            - name
          properties:
            name:
              type: string
            nickname:
              type: string
            firms_code:
              type: string
              description: CBP FIRMS Code or CBS Sublocation Code
        type:
          type: string
          enum:
            - rail_terminal
      required:
        - attributes
    tracking_request:
      title: Tracking Request
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum:
            - tracking_request
        attributes:
          type: object
          properties:
            request_number:
              type: string
              example: ONEYSH9AME650500
            ref_numbers:
              type: array
              items:
                type: string
            tags:
              type: array
              items:
                type: string
            status:
              type: string
              enum:
                - pending
                - created
                - failed
            failed_reason:
              type: string
              enum:
                - shipping_line_unavailable
                - unrecognized_response
              description: 'If the tracking request has failed, or is currently failing, the last reason we were unable to complete the request'
            request_type:
              type: string
              enum:
                - bill_of_lading
                - booking_number
              example: bill_of_lading
            scac:
              type: string
              example: ONEY
              minLength: 4
              maxLength: 4
            created_at:
              type: string
              format: date-time
            is_retrying:
              type: boolean
              description: ''
            retry_count:
              type: integer
              description: How many times T49 has attempted to get the shipment from the shipping line
          required:
            - request_number
            - status
            - request_type
            - scac
            - created_at
        relationships:
          type: object
          properties:
            tracked_object:
              type: object
              properties:
                data:
                  format: uuid
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    type:
                      type: string
                      enum:
                        - shipment
      required:
        - id
        - type
    webhook:
      title: webhook
      type: object
      x-examples: {}
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum:
            - webhook
        attributes:
          type: object
          properties:
            url:
              type: string
              format: uri
              description: https end point
            active:
              type: boolean
              default: true
              description: whether the webhook will be delivered when events are triggered
            events:
              type: array
              description: ''
              uniqueItems: false
              minItems: 1
              items:
                type: string
            secret:
              type: string
              description: A random token that will sign all delivered webhooks
          required:
            - url
            - active
            - events
            - secret
      required:
        - id
        - type
    vessel:
      title: vessel
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum:
            - vessel
        attributes:
          type: object
          properties:
            name:
              type: string
            imo:
              type: string
            mmsi:
              type: string
    transport_event:
      title: Transport Event Model
      type: object
      description: ''
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum:
            - transport_event
        attributes:
          type: object
          properties:
            event:
              type: string
              enum:
                - container.transport.vessel_loaded
                - container.transport.vessel_arrived
                - container.transport.vessel_departed
                - container.transport.vessel_discharged
                - container.transport.full_out
                - container.transport.empty_in
            voyage_number:
              type: string
            timestamp:
              type: string
              format: date-time
            timezone:
              type: string
              description: IANA tz
        relationships:
          type: object
          properties:
            shipment:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    type:
                      type: string
                      enum:
                        - shipment
            location:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    type:
                      type: string
                      enum:
                        - port
                        - metro_area
            vessel:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    name:
                      type: string
                      enum:
                        - vessel
            terminal:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    type:
                      type: string
                      enum:
                        - terminal
                        - rail_terminal
            container:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    type:
                      type: string
                      enum:
                        - container
            '':
              type: string
      required:
        - id
        - type
    estimated_event:
      title: Estimated Event Model
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum:
            - estimated_event
        attributes:
          type: object
          required:
            - event
            - estimated_timestamp
          properties:
            event:
              type: string
              enum:
                - shipment.estimated.arrival
            estimated_timestamp:
              type: string
              format: date-time
            voyage_number:
              type: string
        relationships:
          type: object
          required:
            - shipment
          properties:
            shipment:
              type: object
              required:
                - data
              properties:
                data:
                  type: object
                  required:
                    - id
                    - type
                  properties:
                    id:
                      type: string
                      format: uuid
                    type:
                      type: string
                      enum:
                        - shipment
            port:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    type:
                      type: string
                      enum:
                        - port
            vessel:
              type: object
              description: |+

              properties:
                data:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    type:
                      type: string
                      enum:
                        - vessel
      required:
        - id
        - type
        - attributes
        - relationships
    webhook_notification:
      title: webhook_notification
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum:
            - webhook_notification
        attributes:
          type: object
          properties:
            event:
              type: string
            delivery_status:
              type: string
              default: pending
              enum:
                - pending
                - succeeded
                - failed
              description: Whether the notification has been delivered to the webhook endpoint
            created_at:
              type: string
          required:
            - event
            - delivery_status
            - created_at
        relationships:
          type: object
          properties:
            webhook:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    type:
                      type: string
                      enum:
                        - webhook
            reference_object:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    type:
                      type: string
                      enum:
                        - tracking_request
                        - estimated_event
                        - transport_event
                        - container_updated_event
          required:
            - webhook
    terminal_hold:
      title: terminal_hold
      type: object
      properties:
        name:
          type: string
          enum:
            - customs
            - freight
            - USDA
            - TMF
            - other
        status:
          type: string
          enum:
            - pending
            - hold
        description:
          type: string
          description: Text description from the terminal (if any)
      required:
        - name
        - status
    terminal_fee:
      title: terminal_fee
      type: object
      properties:
        type:
          type: string
          enum:
            - exam
            - demurrage
            - total
            - other
        amount:
          type: number
          description: The fee amount in USD
      required:
        - type
        - amount
    container_updated_event:
      title: container_updated_event
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        attributes:
          type: object
          properties:
            changeset:
              type: object
              description: |-
                A hash of all the changed attributes with the values being an array of the before and after. E.g. 
                `{"pickup_lfd": [null, "2020-05-20"]}`

                The current attributes that can be alerted on are:
                - `available_for_pickup`
                - `pickup_lfd`
                - `fees_at_pod_terminal`
                - `holds_at_pod_terminal`
            timestamp:
              type: string
              format: date-time
              description: ''
            timezone:
              type: string
              description: 'IANA TZ '
          required:
            - changeset
            - timestamp
        relationships:
          type: object
          required:
            - container
            - terminal
          properties:
            container:
              type: object
              required:
                - data
              properties:
                data:
                  type: object
                  required:
                    - id
                    - type
                  properties:
                    id:
                      type: string
                      format: uuid
                    type:
                      type: string
                      enum:
                        - container
            terminal:
              type: object
              required:
                - data
              description: ''
              properties:
                data:
                  type: object
                  required:
                    - id
                    - type
                  properties:
                    id:
                      type: string
                      format: uuid
                    type:
                      type: string
                      enum:
                        - terminal
      required:
        - relationships
    raw_event:
      title: Raw Event Model
      type: object
      description: |-
        Raw Events represent the milestones from the shipping line for a given container.

        ### About raw_event datetimes

        The events may include estimated future events. The event is a future event if an `estimated_` timestamp is not null. 

        The datetime properties `actual_on`, `estimated_on`, `actual_at`, and `estimated_at` are all mutually exclusive. 

        When the `time_zone` property is present the datetimes are UTC timestamps, which can be converted to the local time by parsing the provided `time_zone`.

        When the `time_zone` property is absent, the datetimes represent local times which serialized as UTC timestamps for consistency. 
      properties:
        id:
          type: string
        type:
          type: string
          description: ''
          enum:
            - raw_event
        attributes:
          type: object
          properties:
            event:
              type: string
              enum:
                - empty_out
                - full_in
                - positioned_in
                - positioned_out
                - vessel_loaded
                - vessel_departed
                - transshipment_arrived
                - transshipment_discharged
                - transshipment_loaded
                - transshipment_departed
                - rail_arrived
                - rail_loaded
                - rail_unloaded
                - rail_departed
                - vessel_arrived
                - vessel_discharged
                - arrived_at_destination
                - delivered
                - full_out
                - empty_in
                - vgm_received
                - carrier_release
                - customs_release
              description: Normalized string representing the event
            original_event:
              type: string
              description: The event name as returned by the carrier
            actual_on:
              type: string
              format: date
              description: 'The date of the event at the event location when no time information is available. '
            estimated_on:
              type: string
              format: date
              description: 'The estimated date of the event at the event location when no time information is available. '
            actual_at:
              type: string
              format: date-time
              description: The datetime the event transpired in UTC
            estimated_at:
              type: string
              format: date-time
              description: The estimated datetime the event will occur in UTC
            timezone:
              type: string
              description: IANA TZ where the event occured
            created_at:
              type: string
              format: date-time
              description: When the raw_event was created in UTC
            location_name:
              type: string
              description: The city or facility name of the event location
            location_locode:
              type: string
              description: UNLOCODE of the event location
            vessel_name:
              type: string
              description: The name of the vessel where applicable
            vessel_imo:
              type: string
              description: The IMO of the vessel where applicable
            index:
              type: integer
              description: The order of the event. Thishelpful when only dates (i.e. actual_on) are available.
            voyage_number:
              type: string
        relationships:
          type: object
          properties:
            location:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    type:
                      type: string
                      enum:
                        - port
                        - metro_area
            vessel:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    type:
                      type: string
                      enum:
                        - vessel
  securitySchemes:
    Authorization_Header:
      name: authorization
      type: apiKey
      in: header
      description: |-
        `Token YOUR_API_TOKEN`

        The APIs require authentication to be done using header-based API Key and Secret Authentication. 

        API key and secret aare sent in the `Authorization` header.

        You send your API key and secret in the following way:

        `Authorization: Token YOUR_API_TOKEN`
security:
  - Authorization_Header: []
tags:
  - name: Containers
  - name: Shipments
  - name: Locations
  - name: Events
  - name: Tracking Requests
  - name: Webhooks
  - name: Webhook Notifications
