openapi: 3.0.0
info:
  contact:
    email: support@terminal49.com
    name: Terminal49 API support
    url: https://www.terminal49.com
  description: The Terminal 49 API offers a convenient way to programmatically track
    your shipments from origin to destination.
  termsOfService: https://www.terminal49.com/terms
  title: Terminal49 API Reference
  version: 0.1.0
  x-label: Beta
servers:
- description: Production
  url: https://api.terminal49.com/v2
security:
- authorization: []
tags:
- name: Containers
- name: Shipments
- name: Locations
- name: Events
- name: Tracking Requests
- name: Webhooks
- name: Webhook Notifications
paths:
  /shipments:
    get:
      description: "Returns a list of your shipments. The shipments are returned sorted\
        \ by creation date, with the most recent shipments appearing first.\n\nThis\
        \ api will return all shipments associated with the account. Shipments created\
        \ via the `tracking_request` API aswell as the ones added via the dashboard\
        \ will be retuned via this endpoint. "
      operationId: get-shipments
      parameters:
      - explode: true
        in: query
        name: page[number]
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: page[size]
        required: false
        schema:
          default: 30
          type: integer
        style: form
      - description: |2-

          Search shipments by master bill of lading, reference number, or container number.
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                En-route to NY with inland move:
                  value:
                    data:
                    - id: 512ae32c-a604-44f8-9c15-2ca9cd3d2ae8
                      type: shipment
                      attributes:
                        bill_of_lading_number: "6140575020"
                        ref_numbers:
                        - my-ref-49
                        - PO#18412
                        created_at: 2020-02-20T13:37:12Z
                        tags: []
                        port_of_lading_locode: INVTZ
                        port_of_lading_name: Visakhapatnam, IN
                        port_of_discharge_locode: USNYC
                        port_of_discharge_name: New York / New Jersey, NY
                        destination_locode: USDET
                        destination_name: Detroit, MI
                        shipping_line_scac: HLCU
                        pod_vessel_name: CMA CGM ALMAVIVA
                        pod_vessel_imo: "9450648"
                        pod_voyage_number: "0108"
                        pol_etd_at: null
                        pol_atd_at: 2020-02-15T21:53:00Z
                        pol_timezone: Asia/Calcutta
                        pod_eta_at: 2020-03-18T08:00:00Z
                        pod_ata_at: null
                        pod_timezone: America/New_York
                        destination_eta_at: 2020-03-26T17:00:00Z
                        destination_ata_at: null
                        destination_timezone: America/Detroit
                      relationships:
                        containers:
                          data:
                          - id: c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa
                            type: container
                        port_of_lading:
                          data:
                            id: bde5465a-1160-4fde-a026-74df9c362f65
                            type: port
                        port_of_discharge:
                          data:
                            id: f7cb530a-9e60-412c-a5bc-205a2f34ba54
                            type: port
                        destination:
                          data:
                            id: c9ae2b6b-5088-4e07-ba09-2872121e4fa2
                            type: metro_area
                        customer:
                          data:
                            id: ff76b51a-371e-45ec-86d1-9d03ccae566a
                            type: account
                    included:
                    - id: c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa
                      type: container
                      attributes:
                        number: UACU4743531
                        equipment_type: reefer
                        length: 40
                        height: high_cube
                        weight: 35075
                        weight_unit: kigs
                        created_at: 2020-02-20T08:19:52Z
                        seal_number: null
                        pickup_lfd: null
                        availability_known: false
                        available_for_pickup: null
                        current_transportation_mode: vessel
                        pod_discharged_at: null
                        pod_picked_up_at: null
                        destination_unloaded_at: null
                        destination_picked_up_at: null
                        empty_returned_at: null
                        pod_timezone: America/Los_Angeles
                        destination_timezone: America/Detroit
                        empty_returned_timezone: null
                      relationships:
                        most_recent_location:
                          data:
                            id: dd179094-a1d4-4129-842d-b952e43df4b7
                            type: port
                        shipment:
                          data:
                            id: 512ae32c-a604-44f8-9c15-2ca9cd3d2ae8
                            type: shipment
                        current_vessel:
                          data:
                            id: 252a5450-2893-4207-b5c4-81ce3152ce84
                            type: vessel
                    - id: bde5465a-1160-4fde-a026-74df9c362f65
                      type: port
                      attributes:
                        name: Visakhapatnam
                        locode: INVTZ
                        country_code: IN
                        timezone: Asia/Calcutta
                    - id: dd179094-a1d4-4129-842d-b952e43df4b7
                      type: port
                      attributes:
                        name: Damietta
                        locode: EGDAM
                        country_code: EG
                        time_zone: Africa/Cairo
                    - id: f7cb530a-9e60-412c-a5bc-205a2f34ba54
                      type: port
                      attributes:
                        name: New York / New Jersey
                        locode: USNYC
                        country_code: US
                        timezone: America/New_York
                    - id: c9ae2b6b-5088-4e07-ba09-2872121e4fa2
                      type: metro_area
                      attributes:
                        name: Detroit
                        locode: USDET
                        country_code: US
                        state_abbr: MI
                        timezone: America/Detroit
                    - id: ff76b51a-371e-45ec-86d1-9d03ccae566a
                      type: account
                      attributes:
                        name: A-Z Imports
                    - id: 252a5450-2893-4207-b5c4-81ce3152ce84
                      type: vessel
                      attributes:
                        name: CMA CGM ALMAVIVA
                        imo: "9450648"
                        mmsi: "228339600"
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: OK
        "422":
          content:
            application/json:
              examples:
                Errors:
                  value:
                    error:
                    - title: Invalid arrival_date_from
                      detail: filter['arrival_from'] must be in the format 'YYYY-MM-DD'
                        and a valid date
                    - title: Invalid arrival_date_to
                      detail: filter['arrival_from'] must be in the format 'YYYY-MM-DD'
                        and a valid date
                    - title: Invalid port_of_lading
                      detail: port_of_discharge must be an array of 5 character UN/LOCODEs
                    - title: Invalid port_of_discharge
                      detail: port_of_discharge must be an array of 5 character UN/LOCODEs
              schema:
                $ref: '#/components/schemas/inline_response_422'
          description: Unprocessable Entity
      summary: List shipments
      tags:
      - Shipments
  /shipments/{id}:
    get:
      description: Retrieves the details of an existing shipment. You need only supply
        the unique shipment `id` that was returned upon `tracking_request` creation.
      operationId: get-shipment-id
      parameters:
      - description: Shipment Id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                En-route to NY with inland move:
                  value:
                    data:
                      id: 512ae32c-a604-44f8-9c15-2ca9cd3d2ae8
                      type: shipment
                      attributes:
                        bill_of_lading_number: "6140575020"
                        ref_numbers:
                        - my-ref-49
                        - PO#18412
                        created_at: 2020-02-20T13:37:12Z
                        tags: []
                        port_of_lading_locode: INVTZ
                        port_of_lading_name: Visakhapatnam, IN
                        port_of_discharge_locode: USNYC
                        port_of_discharge_name: New York / New Jersey, NY
                        destination_locode: USDET
                        destination_name: Detroit, MI
                        shipping_line_scac: HLCU
                        pod_vessel_name: CMA CGM ALMAVIVA
                        pod_vessel_imo: "9450648"
                        pod_voyage_number: "0108"
                        pol_etd_at: null
                        pol_atd_at: 2020-02-15T21:53:00Z
                        pol_timezone: Asia/Calcutta
                        pod_eta_at: 2020-03-18T08:00:00Z
                        pod_ata_at: null
                        pod_timezone: America/New_York
                        destination_eta_at: 2020-03-26T17:00:00Z
                        destination_ata_at: null
                        destination_timezone: America/Detroit
                      relationships:
                        containers:
                          data:
                          - id: c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa
                            type: container
                        port_of_lading:
                          data:
                            id: bde5465a-1160-4fde-a026-74df9c362f65
                            type: port
                        port_of_discharge:
                          data:
                            id: f7cb530a-9e60-412c-a5bc-205a2f34ba54
                            type: port
                        destination:
                          data:
                            id: c9ae2b6b-5088-4e07-ba09-2872121e4fa2
                            type: metro_area
                        customer:
                          data:
                            id: ff76b51a-371e-45ec-86d1-9d03ccae566a
                            type: account
                    included:
                    - id: c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa
                      type: container
                      attributes:
                        number: UACU4743531
                        equipment_type: reefer
                        length: 40
                        height: high_cube
                        weight: 35075
                        weight_unit: kigs
                        created_at: 2020-02-20T08:19:52Z
                        seal_number: null
                        pickup_lfd: null
                        availability_known: false
                        available_for_pickup: null
                        current_transportation_mode: vessel
                        pod_discharged_at: null
                        pod_picked_up_at: null
                        destination_unloaded_at: null
                        destination_picked_up_at: null
                        empty_returned_at: null
                        pod_timezone: America/Los_Angeles
                        destination_timezone: America/Detroit
                        empty_returned_timezone: null
                      relationships:
                        most_recent_location:
                          data:
                            id: dd179094-a1d4-4129-842d-b952e43df4b7
                            type: port
                        shipment:
                          data:
                            id: 512ae32c-a604-44f8-9c15-2ca9cd3d2ae8
                            type: shipment
                        current_vessel:
                          data:
                            id: 252a5450-2893-4207-b5c4-81ce3152ce84
                            type: vessel
                    - id: bde5465a-1160-4fde-a026-74df9c362f65
                      type: port
                      attributes:
                        name: Visakhapatnam
                        locode: INVTZ
                        country_code: IN
                        timezone: Asia/Calcutta
                    - id: dd179094-a1d4-4129-842d-b952e43df4b7
                      type: port
                      attributes:
                        name: Damietta
                        locode: EGDAM
                        country_code: EG
                        time_zone: Africa/Cairo
                    - id: f7cb530a-9e60-412c-a5bc-205a2f34ba54
                      type: port
                      attributes:
                        name: New York / New Jersey
                        locode: USNYC
                        country_code: US
                        timezone: America/New_York
                    - id: c9ae2b6b-5088-4e07-ba09-2872121e4fa2
                      type: metro_area
                      attributes:
                        name: Detroit
                        locode: USDET
                        country_code: US
                        state_abbr: MI
                        timezone: America/Detroit
                    - id: ff76b51a-371e-45ec-86d1-9d03ccae566a
                      type: account
                      attributes:
                        name: A-Z Imports
                    - id: 252a5450-2893-4207-b5c4-81ce3152ce84
                      type: vessel
                      attributes:
                        name: CMA CGM ALMAVIVA
                        imo: "9450648"
                        mmsi: "228339600"
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: OK
        "404":
          content:
            application/json:
              examples:
                En-route to NY with inland move:
                  value:
                    data:
                      id: 512ae32c-a604-44f8-9c15-2ca9cd3d2ae8
                      type: shipment
                      attributes:
                        bill_of_lading_number: "6140575020"
                        ref_numbers:
                        - my-ref-49
                        - PO#18412
                        created_at: 2020-02-20T13:37:12Z
                        tags: []
                        port_of_lading_locode: INVTZ
                        port_of_lading_name: Visakhapatnam, IN
                        port_of_discharge_locode: USNYC
                        port_of_discharge_name: New York / New Jersey, NY
                        destination_locode: USDET
                        destination_name: Detroit, MI
                        shipping_line_scac: HLCU
                        pod_vessel_name: CMA CGM ALMAVIVA
                        pod_voyage_number: "0108"
                        pol_etd_at: null
                        pol_atd_at: 2020-02-15T21:53Z
                        pol_timezone: Asia/Calcutta
                        pod_eta_at: 2020-03-18T08:00Z
                        pod_ata_at: null
                        pod_timezone: America/New_York
                        destination_eta_at: 2020-03-26T17:00Z
                        destination_ata_at: null
                        destination_timezone: America/Detroit
                      relationships:
                        containers:
                          data:
                          - id: c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa
                            type: container
                        port_of_lading:
                          data:
                            id: bde5465a-1160-4fde-a026-74df9c362f65
                            type: port
                        port_of_discharge:
                          data:
                            id: f7cb530a-9e60-412c-a5bc-205a2f34ba54
                            type: port
                        destination:
                          data:
                            id: c9ae2b6b-5088-4e07-ba09-2872121e4fa2
                            type: metro_area
                        customer:
                          data:
                            id: ff76b51a-371e-45ec-86d1-9d03ccae566a
                            type: account
                    included:
                    - id: c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa
                      type: container
                      attributes:
                        number: UACU4743531
                        equipment_type: reefer
                        length: 40
                        height: high_cube
                        weight: 35075
                        weight_unit: kigs
                        created_at: 2020-02-20T08:19:52Z
                        seal_number: null
                        pickup_lfd: null
                        availability_known: false
                        available_for_pickup: null
                        current_transportation_mode: vessel
                        pod_discharged_at: null
                        pod_picked_up_at: null
                        destination_unloaded_at: null
                        destination_picked_up_at: null
                        empty_returned_at: null
                        pod_timezone: America/Los_Angeles
                        destination_timezone: America/Detroit
                        empty_returned_timezone: null
                      relationships:
                        most_recent_location:
                          data:
                            id: dd179094-a1d4-4129-842d-b952e43df4b7
                            type: port
                        shipment:
                          data:
                            id: 512ae32c-a604-44f8-9c15-2ca9cd3d2ae8
                            type: shipment
                        current_vessel:
                          data:
                            id: 252a5450-2893-4207-b5c4-81ce3152ce84
                            type: vessel
                    - id: bde5465a-1160-4fde-a026-74df9c362f65
                      type: port
                      attributes:
                        name: Visakhapatnam
                        locode: INVTZ
                        country_code: IN
                        timezone: Asia/Calcutta
                    - id: dd179094-a1d4-4129-842d-b952e43df4b7
                      type: port
                      attributes:
                        name: Damietta
                        locode: EGDAM
                        country_code: EG
                        time_zone: Africa/Cairo
                    - id: f7cb530a-9e60-412c-a5bc-205a2f34ba54
                      type: port
                      attributes:
                        name: New York / New Jersey
                        locode: USNYC
                        country_code: US
                        timezone: America/New_York
                    - id: c9ae2b6b-5088-4e07-ba09-2872121e4fa2
                      type: metro_area
                      attributes:
                        name: Detroit
                        locode: USDET
                        country_code: US
                        state_abbr: MI
                        timezone: America/Detroit
                    - id: ff76b51a-371e-45ec-86d1-9d03ccae566a
                      type: account
                      attributes:
                        name: A-Z Imports
                    - id: 252a5450-2893-4207-b5c4-81ce3152ce84
                      type: vessel
                      attributes:
                        name: CMA CGM ALMAVIVA
                        imo: "9450648"
                        mmsi: "228339600"
              schema:
                $ref: '#/components/schemas/inline_response_422'
          description: Not Found
      summary: Get a shipment
      tags:
      - Shipments
  /tracking_requests:
    get:
      description: Returns a list of your tracking requests. The trackig requests
        are returned sorted by creation date, with the most recent tracking request
        appearing first.
      operationId: get-tracking-requests
      parameters:
      - description: A search term to be applied against request_number and reference_numbers.
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: filter by `status`
        explode: true
        in: query
        name: filter[status]
        required: false
        schema:
          enum:
          - created
          - pending
          - failed
          example: created
          type: string
        style: form
      - description: filter by shipping line `scac`
        explode: true
        in: query
        name: filter[scac]
        required: false
        schema:
          example: MSCU
          type: string
        style: form
      - description: filter by tracking_requests `created_at` after a certain ISO8601
          timestamp
        explode: true
        in: query
        name: filter[created_at][start]
        required: false
        schema:
          example: 2020-04-28T22:59:15Z
          format: date-time
          type: string
        style: form
      - description: filter by tracking_requests `created_at` before a certain ISO8601
          timestamp
        explode: true
        in: query
        name: filter[created_at][end]
        required: false
        schema:
          example: 2020-04-28T22:59:15Z
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples: {}
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_422'
          description: Not Found
      summary: List tracking requests
      tags:
      - Tracking Requests
    post:
      description: "To track an ocean shipment, you create a new tracking request.\
        \ \nTwo attributes are required to track a shipment. A `bill of lading/booking\
        \ number` and a shipping line `SCAC`. \n\nOnce a tracking request is created\
        \ we will attempt to fetch the shipment details and it's related containers\
        \ from the shipping line. If the attempt is successful we will create in new\
        \ shipment object including any related container objects. We will send a\
        \ `tracking_Request.succeeded` webhook notification to your webhooks.  \n\n\
        If the attempt to fetch fails then we will send a `tracking_Request.failed`\
        \ webhook notification to your `webhooks`.  \n\nA `tracking_Request.succeeded`\
        \ or `tracking_Request.failed` webhook notificaiton will only be sent  if\
        \ you have  atleast one active webhook. "
      operationId: post-track
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/json:
            examples:
              'Example: MSC BL':
                value:
                  data:
                    attributes:
                      request_type: bill_of_lading
                      request_number: MEDUFR030802
                      scac: MSCU
                    type: tracking_request
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_tracking_requests_data'
              type: object
        description: Create a shipment tracking request
      responses:
        "201":
          content:
            application/json:
              examples:
                Pending Tracking Request:
                  value:
                    data:
                      id: ba4cb904-827f-4038-8e31-1e92b3356218
                      type: tracking_request
                      attributes:
                        request_number: MEDUFR030802
                        request_type: bill_of_lading
                        scac: MSCU
                        ref_numbers: []
                        created_at: 2020-04-04T16:13:35-07:00
                        status: pending
                        failed_reason: null
                      relationships:
                        tracked_object:
                          data: null
                      links:
                        self: /v2/tracking_requests/ba4cb904-827f-4038-8e31-1e92b3356218
              schema:
                $ref: '#/components/schemas/inline_response_201'
          description: Tracking Request Created
        "422":
          content:
            application/json:
              examples:
                Error Examples:
                  value:
                    errors:
                    - status: "422"
                      source:
                        pointer: /data/attributes/scac
                      title: Unprocessable Entity
                      detail: Scac can't be blank
                      code: blank
                    - status: "422"
                      source:
                        pointer: /data/attributes/scac
                      title: Unprocessable Entity
                      detail: Scac 'XXXX' is not recognized
                      code: blank
                    - status: "422"
                      source:
                        pointer: /data/attributes/scac
                      title: Unprocessable Entity
                      detail: Scac 'UALC' is not supported. We do not currently integrate
                        with Universal Africa Lines
                      code: blank
                    - status: "422"
                      source:
                        pointer: /data/attributes/request_number
                      title: Unprocessable Entity
                      detail: Request number can't be blank
                      code: blank
              schema:
                $ref: '#/components/schemas/inline_response_422'
          description: Unprocessable Entity
      security:
      - authorization: []
      summary: Create a tracking request
      tags:
      - Tracking Requests
  /tracking_requests/{id}:
    get:
      description: 'Get the details and status of an existing tracking request. '
      operationId: get-track-request-by-id
      parameters:
      - description: Tracking Request ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                With Status Created:
                  value:
                    data:
                      id: ba4cb904-827f-4038-8e31-1e92b3356218
                      type: tracking_request
                      attributes:
                        request_number: MEDUFR030802
                        request_type: bill_of_lading
                        scac: MSCU
                        ref_numbers: []
                        created_at: 2020-04-04T16:13:35-07:00
                        status: created
                        failed_reason: null
                      relationships:
                        tracked_object:
                          data:
                            id: eb6f218a-0b4a-47f9-8ef9-759aa5e0ea83
                            type: shipment
                      links:
                        self: /v2/tracking_requests/ba4cb904-827f-4038-8e31-1e92b3356218
                    included:
                    - id: eb6f218a-0b4a-47f9-8ef9-759aa5e0ea83
                      type: shipment
                      attributes:
                        created_at: 2020-04-04T16:13:37-07:00
                        bill_of_lading_number: MEDUFR030802
                        ref_numbers:
                        - null
                        shipping_line_scac: MSCU
                        shipping_line_name: Mediterranean Shipping Company
                        port_of_lading_locode: FRFOS
                        port_of_lading_name: Fos-Sur-Mer
                        port_of_discharge_locode: USOAK
                        port_of_discharge_name: Oakland
                        pod_vessel_name: MSC ALGECIRAS
                        pod_vessel_imo: "9605243"
                        pod_voyage_number: 920A
                        destination_locode: USOAK
                        destination_name: Oakland
                        destination_timezone: America/Los_Angeles
                        destination_ata_at: 2019-06-21T18:46:00-07:00
                        destination_eta_at: null
                        pol_etd_at: null
                        pol_atd_at: 2019-05-24T03:00:00-07:00
                        pol_timezone: Europe/Paris
                        pod_eta_at: null
                        pod_ata_at: 2019-06-21T18:46:00-07:00
                        pod_timezone: America/Los_Angeles
                      relationships:
                        port_of_lading:
                          data:
                            id: 6d8c6c29-72a6-49ad-87b7-fd045f202212
                            type: port
                        port_of_discharge:
                          data:
                            id: 42d1ba3a-f4b8-431d-a6fe-49fd748a59e7
                            type: port
                        pod_terminal:
                          data: null
                        destination:
                          data:
                            id: 42d1ba3a-f4b8-431d-a6fe-49fd748a59e7
                            type: port
                        containers:
                          data:
                          - id: 11c1fa10-52a5-48e2-82f4-5523756b3d0f
                            type: container
                      links:
                        self: /v2/shipments/eb6f218a-0b4a-47f9-8ef9-759aa5e0ea83
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: OK
        "404":
          content:
            application/json:
              examples: {}
              schema:
                $ref: '#/components/schemas/inline_response_422'
          description: Not Found
      summary: Get a single tracking request
      tags:
      - Tracking Requests
  /webhooks/{id}:
    delete:
      description: Delete a webhook
      operationId: delete-webhooks-id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Delete a webhook
      tags:
      - Webhooks
    get:
      description: Get the details of a single webhook
      operationId: get-webhooks-id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
          description: OK
      summary: Get single webhook
      tags:
      - Webhooks
    patch:
      description: Update a single webhook
      operationId: patch-webhooks-id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_1'
        content:
          application/json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        url:
                          description: The URL of the webhook endpoint.
                          example: https://webhook.site/#!/39084fbb-d887-42e8-be08-b9183ad02362
                          format: uri
                          type: string
                        events:
                          description: The list of events to enable for this endpoint.
                            You may specify `['*']` to enable all events.
                          items:
                            example: '[''*'']'
                            type: string
                          type: array
                          uniqueItems: true
                        active:
                          type: boolean
                        headers:
                          description: Optional custom headers to pass with each webhook
                            invocation
                          items:
                            properties:
                              name:
                                description: 'The name of the header. (Please not
                                  this will be auto-capitalized) '
                                type: string
                              value:
                                description: |
                                  The value to pass for the header
                                type: string
                            type: object
                          type: array
                      type: object
                    type:
                      enum:
                      - webhook
                      type: string
                  required:
                  - attributes
                  - type
                  type: string
              required:
              - data
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
          description: OK
      summary: Edit a webhook
      tags:
      - Webhooks
  /webhooks:
    get:
      description: Get a list of all the webhooks
      operationId: get-webhooks
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
          description: OK
      summary: List webhooks
      tags:
      - Webhooks
    post:
      description: "You can configure a webhook via the API to be notified about events\
        \ that happen in your Terminal49 account. These events can be realted to tracking_requests,\
        \ shipments and containers. \n\nThis is the recommended way tracking shipments\
        \ and containers via the API. You should use this instead of polling our the\
        \ API periodically.  "
      operationId: post-webhooks
      requestBody:
        $ref: '#/components/requestBodies/inline_object_2'
        content:
          application/json:
            examples:
              Test Webhook via webhook.site:
                value:
                  data:
                    type: webhook
                    id: 9809fb96-7754-488f-99df-29ca8d410d89
                    attributes:
                      url: https://webhook.site/
                      active: true
                      events:
                      - '*'
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_webhooks_data'
              required:
              - data
              type: object
      responses:
        "201":
          content:
            application/json:
              examples:
                Test Endpoint Created:
                  value:
                    data:
                      type: webhook
                      id: 9809fb96-7754-488f-99df-29ca8d410d89
                      attributes:
                        url: https://webhook.site/
                        active: true
                        events:
                        - '*'
                        secret: C193J3QOXMFH
                        created_at: 2020-06-05T19:06:13Z
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
            application/xml:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
          description: Create a test webhook endpoint
      summary: Create a webhook
      tags:
      - Webhooks
  /webhook_notification/{id}:
    get:
      operationId: get-webhook-notification-id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Tracking Request:
                  value:
                    data:
                      id: a76187fc-5749-43f9-9053-cfaad9790a31
                      type: webhook_notification
                      attributes:
                        id: a76187fc-5749-43f9-9053-cfaad9790a31
                        event: tracking_request.succeeded
                        delivery_status: pending
                        created_at: 2020-09-11T21:25:34Z
                      relationships:
                        reference_object:
                          data:
                            id: bdeca506-9741-4ab1-a0a7-cfd1d908e923
                            type: tracking_request
                        webhook:
                          data:
                            id: 914b21ce-dd7d-4c49-8503-65aba488e9a9
                            type: webhook
                        webhook_notification_logs:
                          data: []
                    included:
                    - id: bdeca506-9741-4ab1-a0a7-cfd1d908e923
                      type: tracking_request
                      attributes:
                        request_number: TE497ED1063E
                        request_type: bill_of_lading
                        scac: MSCU
                        ref_numbers: []
                        created_at: 2020-09-11T21:25:34Z
                        status: created
                        failed_reason: null
                        is_retrying: false
                        retry_count: null
                      relationships:
                        tracked_object:
                          data:
                            id: b5b10c0a-8d18-46da-b4c2-4e5fa790e7da
                            type: shipment
                      links:
                        self: /v2/tracking_requests/bdeca506-9741-4ab1-a0a7-cfd1d908e923
                    - id: b5b10c0a-8d18-46da-b4c2-4e5fa790e7da
                      type: shipment
                      attributes:
                        created_at: 2020-09-11T21:25:33Z
                        bill_of_lading_number: TE497ED1063E
                        ref_numbers: []
                        shipping_line_scac: MSCU
                        shipping_line_name: Mediterranean Shipping Company
                        port_of_lading_locode: MXZLO
                        port_of_lading_name: Manzanillo
                        port_of_discharge_locode: USOAK
                        port_of_discharge_name: Port of Oakland
                        pod_vessel_name: MSC CHANNE
                        pod_vessel_imo: "9710438"
                        pod_voyage_number: 098N
                        destination_locode: null
                        destination_name: null
                        destination_timezone: null
                        destination_ata_at: null
                        destination_eta_at: null
                        pol_etd_at: null
                        pol_atd_at: 2020-08-29T21:25:33Z
                        pol_timezone: America/Mexico_City
                        pod_eta_at: 2020-09-18T21:25:33Z
                        pod_ata_at: null
                        pod_timezone: America/Los_Angeles
                      relationships:
                        port_of_lading:
                          data:
                            id: 4384d6a5-5ccc-43b7-8d19-4a9525e74c08
                            type: port
                        port_of_discharge:
                          data:
                            id: 2a765fdd-c479-4345-b71d-c4ef839952e2
                            type: port
                        pod_terminal:
                          data:
                            id: 17891bc8-52da-40bf-8ff0-0247ec05faf1
                            type: terminal
                        destination:
                          data: null
                        containers:
                          data:
                          - id: b2fc728c-e2f5-4a99-8899-eb7b34ef22d7
                            type: container
                      links:
                        self: /v2/shipments/b5b10c0a-8d18-46da-b4c2-4e5fa790e7da
                    - id: b2fc728c-e2f5-4a99-8899-eb7b34ef22d7
                      type: container
                      attributes:
                        number: ARDU1824900
                        seal_number: 139F1451
                        created_at: 2020-09-11T21:25:34Z
                        equipment_type: dry
                        equipment_length: 40
                        equipment_height: standard
                        weight_in_lbs: 53507
                        fees_at_pod_terminal: []
                        holds_at_pod_terminal: []
                        pickup_lfd: null
                        pickup_appointment_at: null
                        availability_known: true
                        available_for_pickup: false
                        pod_arrived_at: null
                        pod_discharged_at: null
                        final_destination_full_out_at: null
                        pod_full_out_at: null
                        empty_terminated_at: null
                      relation ships:
                        shipment:
                          data:
                            id: b5b10c0a-8d18-46da-b4c2-4e5fa790e7da
                            type: shipment
                        pod_terminal:
                          data:
                            id: 17891bc8-52da-40bf-8ff0-0247ec05faf1
                            type: terminal
                        transport_events:
                          data:
                          - id: 56078596-5293-4c84-9245-cca00a787265
                            type: transport_event
                    - id: 56078596-5293-4c84-9245-cca00a787265
                      type: transport_event
                      attributes:
                        event: container.transport.vessel_departed
                        created_at: 2020-09-11T21:25:34Z
                        voyage_number: null
                        timestamp: 2020-08-29T21:25:33Z
                        location_locode: MXZLO
                        timezone: America/Los_Angeles
                      relationships:
                        shipment:
                          data:
                            id: b5b10c0a-8d18-46da-b4c2-4e5fa790e7da
                            type: shipment
                        container:
                          data:
                            id: b2fc728c-e2f5-4a99-8899-eb7b34ef22d7
                            type: container
                        vessel:
                          data: null
                        location:
                          data:
                            id: 2a765fdd-c479-4345-b71d-c4ef839952e2
                            type: port
                        terminal:
                          data: null
                Estimated Event:
                  value:
                    data:
                      id: d7e04138-b59d-4c41-9d2d-251d95bedd6e
                      type: webhook_notification
                      attributes:
                        id: d7e04138-b59d-4c41-9d2d-251d95bedd6e
                        event: shipment.estimated.arrival
                        delivery_status: pending
                        created_at: 2020-09-11T21:25:34Z
                      relationships:
                        reference_object:
                          data:
                            id: b68bc6cb-2c37-43f6-889b-86a16b2b6fe6
                            type: estimated_event
                        webhook:
                          data:
                            id: 614eab61-ae3c-4d40-bbe9-41200a172691
                            type: webhook
                    included:
                    - id: b68bc6cb-2c37-43f6-889b-86a16b2b6fe6
                      type: estimated_event
                      attributes:
                        created_at: 2020-04-06T19:02:46-07:00
                        estimated_timestamp: 2020-04-09T19:02:46-07:00
                        voyage_number: A1C
                        event: shipment.estimated.arrival
                        timezone: America/Los_Angeles
                      relationships:
                        shipment:
                          data:
                            id: 715ed64b-6195-49f6-9407-1383a8088bfd
                            type: shipment
                        port:
                          data:
                            id: ed4001a5-ad9d-43c3-883c-79354f422510
                            type: port
                        vessel:
                          data:
                            id: ebf68c6c-9d0d-4383-aa41-e097009dfb4c
                            type: vessel
                    - id: ed4001a5-ad9d-43c3-883c-79354f422510
                      type: port
                      attributes:
                        id: ed4001a5-ad9d-43c3-883c-79354f422510
                        name: Port of Oakland
                        code: USOAK
                        state_abbr: CA
                        city: Oakland
                        country_code: US
                        time_zone: America/Los_Angeles
                    - id: 715ed64b-6195-49f6-9407-1383a8088bfd
                      type: shipment
                      attributes:
                        created_at: 2020-04-06T19:02:46-07:00
                        bill_of_lading_number: TE49DD6650B9
                        ref_numbers:
                        - REF-4A25EA
                        shipping_line_scac: MSCU
                        shipping_line_name: Mediterranean Shipping Company
                        port_of_lading_locode: MXZLO
                        port_of_lading_name: Manzanillo
                        port_of_discharge_locode: USOAK
                        port_of_discharge_name: Port of Oakland
                        pod_vessel_name: MSC CHANNE
                        pod_vessel_imo: "9710438"
                        pod_voyage_number: 098N
                        destination_locode: null
                        destination_name: null
                        destination_timezone: null
                        destination_ata_at: null
                        destination_eta_at: null
                        pol_etd_at: null
                        pol_atd_at: null
                        pol_timezone: America/Mexico_City
                        pod_eta_at: 2020-04-13T19:02:46-07:00
                        pod_ata_at: null
                        pod_timezone: America/Los_Angeles
                      relationships:
                        port_of_lading:
                          data:
                            id: 1378c720-efe9-4562-a2ad-562002eb4b1d
                            type: port
                        port_of_discharge:
                          data:
                            id: ed4001a5-ad9d-43c3-883c-79354f422510
                            type: port
                        pod_terminal:
                          data:
                            id: 2508d879-4451-4d7f-ab23-92258b5df553
                            type: terminal
                        destination:
                          data: null
                        containers:
                          data: []
                      links:
                        self: /v2/shipments/715ed64b-6195-49f6-9407-1383a8088bfd
                Transport Event:
                  value:
                    data:
                      id: abec839a-48fe-4540-93d7-d3ea3d67bdbf
                      type: webhook_notification
                      attributes:
                        id: abec839a-48fe-4540-93d7-d3ea3d67bdbf
                        event: container.transport.vessel_arrived
                        delivery_status: pending
                        created_at: 2020-07-28T23:12:53Z
                      relationships:
                        reference_object:
                          data:
                            id: a6ecb8ab-98d6-4cab-8487-ce9dd7be082b
                            type: transport_event
                        webhook:
                          data:
                            id: 534d498b-8332-439a-accb-129dfd144ceb
                            type: webhook
                        webhook_notification_logs:
                          data: []
                    included:
                    - id: a6ecb8ab-98d6-4cab-8487-ce9dd7be082b
                      type: transport_event
                      attributes:
                        event: container.transport.vessel_arrived
                        created_at: 2020-07-28T23:12:53Z
                        voyage_number: null
                        timestamp: 2020-07-28T23:12:53Z
                        timezone: America/Los_Angeles
                      relationships:
                        shipment:
                          data:
                            id: 1fc35241-4c8b-420d-803a-9e6661720a05
                            type: shipment
                        container:
                          data:
                            id: 8c2f335a-b155-4021-87f0-9b040159a981
                            type: container
                        vessel:
                          data:
                            id: b381c692-8dad-4f04-873f-d9e567143335
                            type: vessel
                        location:
                          data:
                            id: f5a8a49f-d8b2-4d2a-8a43-0e4ff0ce7995
                            type: port
                        terminal:
                          data:
                            id: 26fede8d-2c6d-4bf5-98d6-5a86d30f17a9
                            type: terminal
                    - id: f5a8a49f-d8b2-4d2a-8a43-0e4ff0ce7995
                      type: port
                      attributes:
                        id: f5a8a49f-d8b2-4d2a-8a43-0e4ff0ce7995
                        name: Port of Oakland
                        code: USOAK
                        state_abbr: CA
                        city: Oakland
                        country_code: US
                        time_zone: America/Los_Angeles
                    - id: 1fc35241-4c8b-420d-803a-9e6661720a05
                      type: shipment
                      attributes:
                        created_at: 2020-07-28T23:12:53Z
                        bill_of_lading_number: TE491846459E
                        ref_numbers:
                        - null
                        shipping_line_scac: MSCU
                        shipping_line_name: Mediterranean Shipping Company
                        port_of_lading_locode: MXZLO
                        port_of_lading_name: Manzanillo
                        port_of_discharge_locode: USOAK
                        port_of_discharge_name: Port of Oakland
                        pod_vessel_name: MSC CHANNE
                        pod_vessel_imo: "9710438"
                        pod_voyage_number: 098N
                        destination_locode: null
                        destination_name: null
                        destination_timezone: null
                        destination_ata_at: null
                        destination_eta_at: null
                        pol_etd_at: null
                        pol_atd_at: 2020-07-15T23:12:53Z
                        pol_timezone: America/Mexico_City
                        pod_eta_at: 2020-08-04T23:12:53Z
                        pod_ata_at: null
                        pod_timezone: America/Los_Angeles
                      relationships:
                        port_of_lading:
                          data:
                            id: 06564cb7-77d6-4e0e-8e4a-37756ca21bc9
                            type: port
                        port_of_discharge:
                          data:
                            id: f5a8a49f-d8b2-4d2a-8a43-0e4ff0ce7995
                            type: port
                        pod_terminal:
                          data:
                            id: 06f5d3bb-f258-4f1b-8c2f-db78248f6e29
                            type: terminal
                        destination:
                          data: null
                        containers:
                          data:
                          - id: 8c2f335a-b155-4021-87f0-9b040159a981
                            type: container
                      links:
                        self: /v2/shipments/1fc35241-4c8b-420d-803a-9e6661720a05
                Container Updated Event:
                  value:
                    data:
                      id: 416e293f-4423-47f7-abf3-1ae97054f41f
                      type: webhook_notification
                      attributes:
                        id: 416e293f-4423-47f7-abf3-1ae97054f41f
                        event: container.updated
                        delivery_status: pending
                        created_at: 2020-06-04T22:03:09Z
                      relationships:
                        reference_object:
                          data:
                            id: fc48cb10-b7a8-47a4-a12f-89bce7434978
                            type: container_updated_event
                        webhook:
                          data:
                            id: cda37836-aa40-455e-8b43-5fd74930c7f6
                            type: webhook
                        webhook_notification_logs:
                          data: []
                    included:
                    - id: fc48cb10-b7a8-47a4-a12f-89bce7434978
                      type: container_updated_event
                      attributes:
                        changeset:
                          available_for_pickup:
                          - false
                          - true
                          pod_terminal_holds:
                          - null
                          - - name: customs
                              status: hold
                              description: CUST EXAM
                        timestamp: 2020-06-04T22:03:09Z
                        timezone: America/Los_Angeles
                      relationships:
                        container:
                          data:
                            id: 1445af31-991c-4d52-a183-6c3ea97cd6e8
                            type: container
                        terminal:
                          data:
                            id: 07db0258-1911-4acf-8e70-0cfe4b100f80
                            type: terminal
                    - id: 1445af31-991c-4d52-a183-6c3ea97cd6e8
                      type: container
                      attributes:
                        number: GLDU1355602
                        seal_number: 431ac97412228532
                        created_at: 2020-05-04T22:03:09Z
                        equipment_type: dry
                        equipment_length: 40
                        equipment_height: standard
                        weight_in_lbs: 55634
                        fees_at_pod_terminal: []
                        holds_at_pod_terminal: []
                        pickup_lfd: null
                        availability_known: true
                        available_for_pickup: null
                        pod_arrived_at: 2020-06-04T22:03:08Z
                        pod_discharged_at: 2020-06-04T22:03:08Z
                        final_destination_full_out_at: 2020-06-04T22:03:08Z
                        pod_full_out_at: null
                        empty_terminated_at: null
                      relationships:
                        shipment:
                          data: null
                    - id: 07db0258-1911-4acf-8e70-0cfe4b100f80
                      type: terminal
                      attributes:
                        id: 07db0258-1911-4acf-8e70-0cfe4b100f80
                        nickname: Denesik-Hintz
                        name: Adams LLC Terminal
                        firms_code: E005
                      relationships:
                        port:
                          data:
                            id: d8a92775-95f9-47be-a6d2-42542a32d5fc
                            type: port
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
      summary: Get a single webhook notification
      tags:
      - Webhook Notifications
  /webhook_notifications:
    get:
      description: "`unreleased`<br>\n\nReturn the list of  webhook notifications.\
        \ This can be useful for reconciling your data if your endpoint has been down. "
      operationId: get-webhook-notifications
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
          description: OK
      summary: List webhook notifications
      tags:
      - Webhook Notifications
  /containers:
    get:
      description: |-
        Returns a list of container. The containers are returned sorted by creation date, with the most recent container appearing first.

        This API will return all containers associated with the account.
      operationId: get-containers
      parameters:
      - explode: true
        in: query
        name: page[number]
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: page[size]
        required: false
        schema:
          default: 30
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples: {}
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
          description: OK
      summary: List containers
      tags:
      - Containers
  /containers/{id}:
    get:
      description: Retrieves the details of a container.
      operationId: get-containers-id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
          description: OK
      summary: Get a container
      tags:
      - Containers
  /containers/{id}/raw_events:
    get:
      description: Returns the carrier raw_events for a container
      operationId: get-containers-id-raw_events
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
          description: OK
      summary: Get a container's raw events
      tags:
      - Containers
  /containers/{id}/transport_events:
    get:
      description: "The canonical transport events for the container.\n\nThese are\
        \ a verified subset of the raw events may also be sent as push notifications. "
      operationId: get-containers-id-transport_events
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
          description: OK
      summary: Get a container's transport events
      tags:
      - Containers
components:
  requestBodies:
    inline_object_1:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_1'
    inline_object:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object'
    inline_object_2:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_2'
  schemas:
    shipment:
      example:
        relationships:
          port_of_lading:
            data:
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              type: port
          destination:
            data:
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              type: port
          pod_terminal:
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            type: terminal
          containers:
            data:
            - id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              type: container
            - id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              type: container
          port_of_discharge:
            data:
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              type: port
          customer:
            data:
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              type: account
        attributes:
          port_of_discharge_locode: port_of_discharge_locode
          pod_vessel_name: pod_vessel_name
          shipping_line_scac: shipping_line_scac
          destination_timezone: destination_timezone
          pod_timezone: pod_timezone
          pod_eta_at: 2000-01-23T04:56:07.000+00:00
          pol_atd_at: 2000-01-23T04:56:07.000+00:00
          port_of_lading_name: port_of_lading_name
          pol_etd_at: 2000-01-23T04:56:07.000+00:00
          created_at: 2000-01-23T04:56:07.000+00:00
          pol_timezone: pol_timezone
          destination_name: destination_name
          destination_ata_at: 2000-01-23T04:56:07.000+00:00
          tags:
          - tags
          - tags
          port_of_discharge_name: port_of_discharge_name
          port_of_lading_locode: port_of_lading_locode
          bill_of_lading_number: bill_of_lading_number
          pod_ata_at: 2000-01-23T04:56:07.000+00:00
          ref_numbers:
          - ref_numbers
          - ref_numbers
          destination_locode: destination_locode
          pod_vessel_imo: pod_vessel_imo
          pod_voyage_number: pod_voyage_number
          destination_eta_at: 2000-01-23T04:56:07.000+00:00
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        type: shipment
      properties:
        id:
          format: uuid
          type: string
        relationships:
          $ref: '#/components/schemas/shipment_relationships'
        attributes:
          $ref: '#/components/schemas/shipment_attributes'
        type:
          enum:
          - shipment
          type: string
      required:
      - id
      - type
      title: Shipment model
      type: object
      x-examples: {}
    meta:
      example:
        total: 6
        size: 0
      properties:
        size:
          type: integer
        total:
          type: integer
      title: meta
      type: object
    links:
      example:
        next: https://openapi-generator.tech
        last: https://openapi-generator.tech
        prev: https://openapi-generator.tech
        self: https://openapi-generator.tech
        first: https://openapi-generator.tech
      properties:
        last:
          format: uri
          type: string
        next:
          format: uri
          type: string
        prev:
          format: uri
          type: string
        first:
          format: uri
          type: string
        self:
          format: uri
          type: string
      title: links
      type: object
    container:
      description: Represents the equipment during a specific journey.
      example:
        relationships:
          shipment:
            data:
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              type: shipment
          current_vessel:
            data:
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              type: vessel
          final_destination:
            data:
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              type: port
          most_recent_location:
            data:
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              type: terminal
        pod_terminal:
          data:
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            type: terminal
        attributes:
          seal_number: seal_number
          final_destination_full_out_at: 2000-01-23T04:56:07.000+00:00
          destination_timezone: destination_timezone
          pod_timezone: pod_timezone
          pickup_lfd: 2000-01-23T04:56:07.000+00:00
          availability_known: true
          pod_full_out_at: 2000-01-23T04:56:07.000+00:00
          destination_unloaded_at: 2000-01-23T04:56:07.000+00:00
          created_at: 2000-01-23T04:56:07.000+00:00
          empty_terminated_at: 2000-01-23T04:56:07.000+00:00
          equipment_type: dry
          weight_in_lbs: weight_in_lbs
          number: number
          empty_returned_timezone: empty_returned_timezone
          equipment_height: standard
          fees_at_pod_terminal:
          - amount: 6.027456183070403
            type: exam
          - amount: 6.027456183070403
            type: exam
          equipment_length: 0
          pickup_apopintment_at: 2000-01-23T04:56:07.000+00:00
          current_transportation_mode: vessel
          holds_at_pod_terminal:
          - name: customs
            description: description
            status: pending
          - name: customs
            description: description
            status: pending
          pod_discharged_at: 2000-01-23T04:56:07.000+00:00
          available_for_pickup: true
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        id:
          format: uuid
          type: string
        attributes:
          $ref: '#/components/schemas/container_attributes'
        relationships:
          $ref: '#/components/schemas/container_relationships'
        pod_terminal:
          $ref: '#/components/schemas/container_pod_terminal'
      required:
      - id
      title: Container model
      type: object
      x-examples: {}
    port:
      properties:
        id:
          format: uuid
          type: string
        attributes:
          $ref: '#/components/schemas/port_attributes'
        type:
          enum:
          - port
          type: string
      required:
      - id
      - type
      title: Port model
      type: object
    shipping_line:
      properties:
        id:
          format: uuid
          type: string
        attributes:
          $ref: '#/components/schemas/shipping_line_attributes'
        type:
          enum:
          - shipping_line
          type: string
      required:
      - attributes
      - id
      - type
      title: Shipping line model
      type: object
    account:
      properties:
        id:
          format: uuid
          type: string
        type:
          enum:
          - container
          type: string
        attributes:
          $ref: '#/components/schemas/account_attributes'
      required:
      - attributes
      - id
      - type
      title: Account model
      type: object
      x-examples: {}
    error:
      properties:
        detail:
          type: string
        title:
          type: string
        source:
          $ref: '#/components/schemas/error_source'
        code:
          type: string
        status:
          type: string
      required:
      - title
      title: Error model
      type: object
    metro_area:
      properties:
        id:
          format: uuid
          type: string
        attributes:
          $ref: '#/components/schemas/metro_area_attributes'
        type:
          enum:
          - metro_area
          type: string
      required:
      - id
      - type
      title: Metro area model
      type: object
    terminal:
      properties:
        id:
          format: uuid
          type: string
        relationships:
          $ref: '#/components/schemas/terminal_relationships'
        attributes:
          $ref: '#/components/schemas/terminal_attributes'
        type:
          enum:
          - terminal
          type: string
      required:
      - attributes
      - relationships
      title: Terminal model
      type: object
    rail_terminal:
      properties:
        id:
          format: uuid
          type: string
        relationships:
          $ref: '#/components/schemas/rail_terminal_relationships'
        attributes:
          $ref: '#/components/schemas/terminal_attributes'
        type:
          enum:
          - rail_terminal
          type: string
      required:
      - attributes
      title: Rail Terminal model
      type: object
    tracking_request:
      example:
        relationships:
          tracked_object:
            data:
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              type: shipment
        attributes:
          is_retrying: true
          request_number: ONEYSH9AME650500
          request_type: bill_of_lading
          scac: ONEY
          retry_count: 0
          ref_numbers:
          - ref_numbers
          - ref_numbers
          created_at: 2000-01-23T04:56:07.000+00:00
          failed_reason: shipping_line_unavailable
          tags:
          - tags
          - tags
          status: pending
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        type: tracking_request
      properties:
        id:
          format: uuid
          type: string
        type:
          enum:
          - tracking_request
          type: string
        attributes:
          $ref: '#/components/schemas/tracking_request_attributes'
        relationships:
          $ref: '#/components/schemas/tracking_request_relationships'
      required:
      - id
      - type
      title: Tracking Request
      type: object
    webhook:
      example:
        attributes:
          active: true
          secret: secret
          url: https://openapi-generator.tech
          events:
          - events
          - events
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        type: webhook
      properties:
        id:
          format: uuid
          type: string
        type:
          enum:
          - webhook
          type: string
        attributes:
          $ref: '#/components/schemas/webhook_attributes'
      required:
      - id
      - type
      title: webhook
      type: object
      x-examples: {}
    vessel:
      properties:
        id:
          format: uuid
          type: string
        type:
          enum:
          - vessel
          type: string
        attributes:
          $ref: '#/components/schemas/vessel_attributes'
      title: vessel
      type: object
    transport_event:
      example:
        relationships:
          container:
            data:
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              type: container
          ? ""
          : ""
          shipment:
            data:
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              type: shipment
          vessel:
            data:
              name: vessel
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          location:
            data:
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              type: port
          terminal:
            data:
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              type: terminal
        attributes:
          timezone: timezone
          voyage_number: voyage_number
          event: container.transport.vessel_loaded
          timestamp: 2000-01-23T04:56:07.000+00:00
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        type: transport_event
      properties:
        id:
          format: uuid
          type: string
        type:
          enum:
          - transport_event
          type: string
        attributes:
          $ref: '#/components/schemas/transport_event_attributes'
        relationships:
          $ref: '#/components/schemas/transport_event_relationships'
      required:
      - id
      - type
      title: Transport Event Model
      type: object
    estimated_event:
      properties:
        id:
          format: uuid
          type: string
        type:
          enum:
          - estimated_event
          type: string
        attributes:
          $ref: '#/components/schemas/estimated_event_attributes'
        relationships:
          $ref: '#/components/schemas/estimated_event_relationships'
      required:
      - attributes
      - id
      - relationships
      - type
      title: Estimated Event Model
      type: object
    webhook_notification:
      example:
        relationships:
          webhook:
            data:
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              type: webhook
          reference_object:
            data:
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              type: tracking_request
        attributes:
          created_at: created_at
          event: event
          delivery_status: pending
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        type: webhook_notification
      properties:
        id:
          format: uuid
          type: string
        type:
          enum:
          - webhook_notification
          type: string
        attributes:
          $ref: '#/components/schemas/webhook_notification_attributes'
        relationships:
          $ref: '#/components/schemas/webhook_notification_relationships'
      title: webhook_notification
      type: object
    terminal_hold:
      example:
        name: customs
        description: description
        status: pending
      properties:
        name:
          enum:
          - customs
          - freight
          - USDA
          - TMF
          - other
          type: string
        status:
          enum:
          - pending
          - hold
          type: string
        description:
          description: Text description from the terminal (if any)
          type: string
      required:
      - name
      - status
      title: terminal_hold
      type: object
    terminal_fee:
      example:
        amount: 6.027456183070403
        type: exam
      properties:
        type:
          enum:
          - exam
          - demurrage
          - total
          - other
          type: string
        amount:
          description: The fee amount in USD
          type: number
      required:
      - amount
      - type
      title: terminal_fee
      type: object
    container_updated_event:
      properties:
        id:
          type: string
        type:
          type: string
        attributes:
          $ref: '#/components/schemas/container_updated_event_attributes'
        relationships:
          $ref: '#/components/schemas/container_updated_event_relationships'
      required:
      - relationships
      title: container_updated_event
      type: object
    raw_event:
      description: "Raw Events represent the milestones from the shipping line for\
        \ a given container.\n\n### About raw_event datetimes\n\nThe events may include\
        \ estimated future events. The event is a future event if an `estimated_`\
        \ timestamp is not null. \n\nThe datetime properties `actual_on`, `estimated_on`,\
        \ `actual_at`, and `estimated_at` are all mutually exclusive. \n\nWhen the\
        \ `time_zone` property is present the datetimes are UTC timestamps, which\
        \ can be converted to the local time by parsing the provided `time_zone`.\n\
        \nWhen the `time_zone` property is absent, the datetimes represent local times\
        \ which serialized as UTC timestamps for consistency. "
      example:
        relationships:
          vessel:
            data:
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              type: vessel
          location:
            data:
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              type: port
        attributes:
          actual_at: 2000-01-23T04:56:07.000+00:00
          timezone: timezone
          vessel_imo: vessel_imo
          created_at: 2000-01-23T04:56:07.000+00:00
          index: 0
          voyage_number: voyage_number
          original_event: original_event
          vessel_name: vessel_name
          estimated_at: 2000-01-23T04:56:07.000+00:00
          location_locode: location_locode
          location_name: location_name
          actual_on: 2000-01-23
          estimated_on: 2000-01-23
          event: empty_out
        id: id
        type: raw_event
      properties:
        id:
          type: string
        type:
          enum:
          - raw_event
          type: string
        attributes:
          $ref: '#/components/schemas/raw_event_attributes'
        relationships:
          $ref: '#/components/schemas/raw_event_relationships'
      title: Raw Event Model
      type: object
    inline_response_200:
      example:
        data:
        - relationships:
            port_of_lading:
              data:
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                type: port
            destination:
              data:
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                type: port
            pod_terminal:
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              type: terminal
            containers:
              data:
              - id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                type: container
              - id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                type: container
            port_of_discharge:
              data:
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                type: port
            customer:
              data:
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                type: account
          attributes:
            port_of_discharge_locode: port_of_discharge_locode
            pod_vessel_name: pod_vessel_name
            shipping_line_scac: shipping_line_scac
            destination_timezone: destination_timezone
            pod_timezone: pod_timezone
            pod_eta_at: 2000-01-23T04:56:07.000+00:00
            pol_atd_at: 2000-01-23T04:56:07.000+00:00
            port_of_lading_name: port_of_lading_name
            pol_etd_at: 2000-01-23T04:56:07.000+00:00
            created_at: 2000-01-23T04:56:07.000+00:00
            pol_timezone: pol_timezone
            destination_name: destination_name
            destination_ata_at: 2000-01-23T04:56:07.000+00:00
            tags:
            - tags
            - tags
            port_of_discharge_name: port_of_discharge_name
            port_of_lading_locode: port_of_lading_locode
            bill_of_lading_number: bill_of_lading_number
            pod_ata_at: 2000-01-23T04:56:07.000+00:00
            ref_numbers:
            - ref_numbers
            - ref_numbers
            destination_locode: destination_locode
            pod_vessel_imo: pod_vessel_imo
            pod_voyage_number: pod_voyage_number
            destination_eta_at: 2000-01-23T04:56:07.000+00:00
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          type: shipment
        - relationships:
            port_of_lading:
              data:
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                type: port
            destination:
              data:
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                type: port
            pod_terminal:
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              type: terminal
            containers:
              data:
              - id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                type: container
              - id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                type: container
            port_of_discharge:
              data:
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                type: port
            customer:
              data:
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                type: account
          attributes:
            port_of_discharge_locode: port_of_discharge_locode
            pod_vessel_name: pod_vessel_name
            shipping_line_scac: shipping_line_scac
            destination_timezone: destination_timezone
            pod_timezone: pod_timezone
            pod_eta_at: 2000-01-23T04:56:07.000+00:00
            pol_atd_at: 2000-01-23T04:56:07.000+00:00
            port_of_lading_name: port_of_lading_name
            pol_etd_at: 2000-01-23T04:56:07.000+00:00
            created_at: 2000-01-23T04:56:07.000+00:00
            pol_timezone: pol_timezone
            destination_name: destination_name
            destination_ata_at: 2000-01-23T04:56:07.000+00:00
            tags:
            - tags
            - tags
            port_of_discharge_name: port_of_discharge_name
            port_of_lading_locode: port_of_lading_locode
            bill_of_lading_number: bill_of_lading_number
            pod_ata_at: 2000-01-23T04:56:07.000+00:00
            ref_numbers:
            - ref_numbers
            - ref_numbers
            destination_locode: destination_locode
            pod_vessel_imo: pod_vessel_imo
            pod_voyage_number: pod_voyage_number
            destination_eta_at: 2000-01-23T04:56:07.000+00:00
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          type: shipment
        meta:
          total: 6
          size: 0
        links:
          next: https://openapi-generator.tech
          last: https://openapi-generator.tech
          prev: https://openapi-generator.tech
          self: https://openapi-generator.tech
          first: https://openapi-generator.tech
        included:
        - ""
        - ""
      properties:
        data:
          items:
            $ref: '#/components/schemas/shipment'
          type: array
        included:
          items:
            anyOf:
            - $ref: '#/components/schemas/container'
            - $ref: '#/components/schemas/port'
            - $ref: '#/components/schemas/terminal'
          type: array
        links:
          $ref: '#/components/schemas/links'
        meta:
          $ref: '#/components/schemas/meta'
    inline_response_422:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/error'
          type: array
    inline_response_200_1:
      example:
        data:
          relationships:
            port_of_lading:
              data:
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                type: port
            destination:
              data:
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                type: port
            pod_terminal:
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              type: terminal
            containers:
              data:
              - id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                type: container
              - id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                type: container
            port_of_discharge:
              data:
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                type: port
            customer:
              data:
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                type: account
          attributes:
            port_of_discharge_locode: port_of_discharge_locode
            pod_vessel_name: pod_vessel_name
            shipping_line_scac: shipping_line_scac
            destination_timezone: destination_timezone
            pod_timezone: pod_timezone
            pod_eta_at: 2000-01-23T04:56:07.000+00:00
            pol_atd_at: 2000-01-23T04:56:07.000+00:00
            port_of_lading_name: port_of_lading_name
            pol_etd_at: 2000-01-23T04:56:07.000+00:00
            created_at: 2000-01-23T04:56:07.000+00:00
            pol_timezone: pol_timezone
            destination_name: destination_name
            destination_ata_at: 2000-01-23T04:56:07.000+00:00
            tags:
            - tags
            - tags
            port_of_discharge_name: port_of_discharge_name
            port_of_lading_locode: port_of_lading_locode
            bill_of_lading_number: bill_of_lading_number
            pod_ata_at: 2000-01-23T04:56:07.000+00:00
            ref_numbers:
            - ref_numbers
            - ref_numbers
            destination_locode: destination_locode
            pod_vessel_imo: pod_vessel_imo
            pod_voyage_number: pod_voyage_number
            destination_eta_at: 2000-01-23T04:56:07.000+00:00
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          type: shipment
        included:
        - ""
        - ""
      properties:
        data:
          $ref: '#/components/schemas/shipment'
        included:
          items:
            anyOf:
            - $ref: '#/components/schemas/container'
            - $ref: '#/components/schemas/port'
            - $ref: '#/components/schemas/terminal'
          type: array
    inline_response_200_2:
      example:
        data:
        - relationships:
            tracked_object:
              data:
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                type: shipment
          attributes:
            is_retrying: true
            request_number: ONEYSH9AME650500
            request_type: bill_of_lading
            scac: ONEY
            retry_count: 0
            ref_numbers:
            - ref_numbers
            - ref_numbers
            created_at: 2000-01-23T04:56:07.000+00:00
            failed_reason: shipping_line_unavailable
            tags:
            - tags
            - tags
            status: pending
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          type: tracking_request
        - relationships:
            tracked_object:
              data:
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                type: shipment
          attributes:
            is_retrying: true
            request_number: ONEYSH9AME650500
            request_type: bill_of_lading
            scac: ONEY
            retry_count: 0
            ref_numbers:
            - ref_numbers
            - ref_numbers
            created_at: 2000-01-23T04:56:07.000+00:00
            failed_reason: shipping_line_unavailable
            tags:
            - tags
            - tags
            status: pending
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          type: tracking_request
        meta:
          total: 6
          size: 0
        links:
          next: https://openapi-generator.tech
          last: https://openapi-generator.tech
          prev: https://openapi-generator.tech
          self: https://openapi-generator.tech
          first: https://openapi-generator.tech
        included:
        - ""
        - ""
      properties:
        data:
          items:
            $ref: '#/components/schemas/tracking_request'
          type: array
        links:
          $ref: '#/components/schemas/links'
        meta:
          $ref: '#/components/schemas/meta'
        included:
          items:
            anyOf:
            - $ref: '#/components/schemas/account'
            - $ref: '#/components/schemas/shipping_line'
            - properties:
                id:
                  format: uuid
                  type: string
                type:
                  enum:
                  - shipment
                  type: string
                links:
                  properties:
                    self:
                      format: uri
                      type: string
                  type: object
              type: object
          type: array
    _tracking_requests_data_attributes:
      properties:
        request_type:
          enum:
          - bill_of_lading
          - tracking_number
          example: bill_of_lading
          type: string
        request_number:
          example: MEDUFR030802
          type: string
        scac:
          example: MSCU
          maxLength: 4
          minLength: 4
          type: string
        ref_numbers:
          description: Optional list of reference numbers to be added to the shipment
            when tracking request completes
          items:
            type: string
          type: array
      required:
      - request_number
      - request_type
      - scac
    _tracking_requests_data:
      properties:
        attributes:
          $ref: '#/components/schemas/_tracking_requests_data_attributes'
        type:
          enum:
          - tracking_request
          type: string
      required:
      - type
    inline_object:
      properties:
        data:
          $ref: '#/components/schemas/_tracking_requests_data'
      type: object
    inline_response_201:
      example:
        data:
          relationships:
            tracked_object:
              data:
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                type: shipment
          attributes:
            is_retrying: true
            request_number: ONEYSH9AME650500
            request_type: bill_of_lading
            scac: ONEY
            retry_count: 0
            ref_numbers:
            - ref_numbers
            - ref_numbers
            created_at: 2000-01-23T04:56:07.000+00:00
            failed_reason: shipping_line_unavailable
            tags:
            - tags
            - tags
            status: pending
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          type: tracking_request
        included:
        - ""
        - ""
      properties:
        data:
          $ref: '#/components/schemas/tracking_request'
        included:
          items:
            anyOf:
            - $ref: '#/components/schemas/account'
            - $ref: '#/components/schemas/shipping_line'
          type: array
    inline_response_200_3:
      example:
        data:
          relationships:
            tracked_object:
              data:
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                type: shipment
          attributes:
            is_retrying: true
            request_number: ONEYSH9AME650500
            request_type: bill_of_lading
            scac: ONEY
            retry_count: 0
            ref_numbers:
            - ref_numbers
            - ref_numbers
            created_at: 2000-01-23T04:56:07.000+00:00
            failed_reason: shipping_line_unavailable
            tags:
            - tags
            - tags
            status: pending
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          type: tracking_request
        included:
        - ""
        - ""
      properties:
        data:
          $ref: '#/components/schemas/tracking_request'
        included:
          items:
            anyOf:
            - $ref: '#/components/schemas/account'
            - $ref: '#/components/schemas/shipment'
            - $ref: '#/components/schemas/shipping_line'
          type: array
    inline_response_200_4:
      example:
        data:
          attributes:
            active: true
            secret: secret
            url: https://openapi-generator.tech
            events:
            - events
            - events
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          type: webhook
      properties:
        data:
          $ref: '#/components/schemas/webhook'
    inline_object_1:
      properties:
        data:
          properties:
            attributes:
              properties:
                url:
                  description: The URL of the webhook endpoint.
                  example: https://webhook.site/#!/39084fbb-d887-42e8-be08-b9183ad02362
                  format: uri
                  type: string
                events:
                  description: The list of events to enable for this endpoint. You
                    may specify `['*']` to enable all events.
                  items:
                    example: '[''*'']'
                    type: string
                  type: array
                  uniqueItems: true
                active:
                  type: boolean
                headers:
                  description: Optional custom headers to pass with each webhook invocation
                  items:
                    properties:
                      name:
                        description: 'The name of the header. (Please not this will
                          be auto-capitalized) '
                        type: string
                      value:
                        description: |
                          The value to pass for the header
                        type: string
                    type: object
                  type: array
              type: object
            type:
              enum:
              - webhook
              type: string
          required:
          - attributes
          - type
          type: string
      required:
      - data
      type: object
    inline_response_200_5:
      example:
        data:
        - attributes:
            active: true
            secret: secret
            url: https://openapi-generator.tech
            events:
            - events
            - events
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          type: webhook
        - attributes:
            active: true
            secret: secret
            url: https://openapi-generator.tech
            events:
            - events
            - events
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          type: webhook
        meta:
          total: 6
          size: 0
        links:
          next: https://openapi-generator.tech
          last: https://openapi-generator.tech
          prev: https://openapi-generator.tech
          self: https://openapi-generator.tech
          first: https://openapi-generator.tech
      properties:
        data:
          items:
            $ref: '#/components/schemas/webhook'
          type: array
        meta:
          $ref: '#/components/schemas/meta'
        links:
          $ref: '#/components/schemas/links'
    _webhooks_data_attributes_headers:
      properties:
        name:
          description: 'The name of the header. (Please not this will be auto-capitalized) '
          type: string
        value:
          description: |
            The value to pass for the header
          type: string
    _webhooks_data_attributes:
      properties:
        url:
          description: The URL of the webhook endpoint.
          example: https://webhook.site/#!/39084fbb-d887-42e8-be08-b9183ad02362
          format: uri
          type: string
        events:
          description: The list of events to enable for this endpoint. You may specify
            `['*']` to enable all events.
          items:
            example: '[''*'']'
            type: string
          type: array
          uniqueItems: true
        active:
          type: boolean
        headers:
          description: Optional custom headers to pass with each webhook invocation
          items:
            $ref: '#/components/schemas/_webhooks_data_attributes_headers'
          type: array
      required:
      - active
      - events
      - url
    _webhooks_data:
      properties:
        attributes:
          $ref: '#/components/schemas/_webhooks_data_attributes'
        type:
          enum:
          - webhook
          type: string
        id:
          format: uuid
          type: string
      required:
      - attributes
      - id
      - type
    inline_object_2:
      properties:
        data:
          $ref: '#/components/schemas/_webhooks_data'
      required:
      - data
      type: object
    inline_response_200_6:
      example:
        data:
          relationships:
            webhook:
              data:
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                type: webhook
            reference_object:
              data:
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                type: tracking_request
          attributes:
            created_at: created_at
            event: event
            delivery_status: pending
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          type: webhook_notification
        included:
        - ""
        - ""
      properties:
        data:
          $ref: '#/components/schemas/webhook_notification'
        included:
          items:
            anyOf:
            - $ref: '#/components/schemas/webhook'
            - $ref: '#/components/schemas/tracking_request'
            - $ref: '#/components/schemas/transport_event'
            - $ref: '#/components/schemas/estimated_event'
            - $ref: '#/components/schemas/container_updated_event'
          type: array
    inline_response_200_7:
      example:
        data:
        - relationships:
            webhook:
              data:
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                type: webhook
            reference_object:
              data:
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                type: tracking_request
          attributes:
            created_at: created_at
            event: event
            delivery_status: pending
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          type: webhook_notification
        - relationships:
            webhook:
              data:
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                type: webhook
            reference_object:
              data:
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                type: tracking_request
          attributes:
            created_at: created_at
            event: event
            delivery_status: pending
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          type: webhook_notification
        meta:
          total: 6
          size: 0
        links:
[...]
