openapi: 3.0.0
info:
  contact:
    email: support@terminal49.com
    name: Terminal49 API support
    url: https://www.terminal49.com
  description: The Terminal 49 API offers a convenient way to programmatically track
    your shipments from origin to destination.
  termsOfService: https://www.terminal49.com/terms
  title: Terminal49 API Reference
  version: 0.2.0
  x-label: Beta
servers:
- description: Production
  url: https://api.terminal49.com/v2
security:
- authorization: []
tags:
- name: Containers
- name: Shipments
- name: Locations
- name: Events
- name: Tracking Requests
- name: Webhooks
- name: Webhook Notifications
paths:
  /shipments:
    get:
      description: "Returns a list of your shipments. The shipments are returned sorted\
        \ by creation date, with the most recent shipments appearing first.\n\nThis\
        \ api will return all shipments associated with the account. Shipments created\
        \ via the `tracking_request` API aswell as the ones added via the dashboard\
        \ will be retuned via this endpoint. "
      operationId: get-shipments
      parameters:
      - explode: true
        in: query
        name: page[number]
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: page[size]
        required: false
        schema:
          default: 30
          type: integer
        style: form
      - deprecated: true
        description: |2-

          Search shipments by master bill of lading, reference number, or container number.
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: Comma delimited list of relations to include
        explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - description: Search shipments by the original request tracking `request_number`
        explode: true
        in: query
        name: number
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                En-route to NY with inland move:
                  value:
                    data:
                    - id: 512ae32c-a604-44f8-9c15-2ca9cd3d2ae8
                      type: shipment
                      attributes:
                        bill_of_lading_number: "6140575020"
                        ref_numbers:
                        - my-ref-49
                        - PO#18412
                        created_at: 2020-02-20T13:37:12Z
                        tags: []
                        port_of_lading_locode: INVTZ
                        port_of_lading_name: Visakhapatnam, IN
                        port_of_discharge_locode: USNYC
                        port_of_discharge_name: New York / New Jersey, NY
                        destination_locode: USDET
                        destination_name: Detroit, MI
                        shipping_line_scac: HLCU
                        pod_vessel_name: CMA CGM ALMAVIVA
                        pod_vessel_imo: "9450648"
                        pod_voyage_number: "0108"
                        pol_etd_at: null
                        pol_atd_at: 2020-02-15T21:53:00Z
                        pol_timezone: Asia/Calcutta
                        pod_eta_at: 2020-03-18T08:00:00Z
                        pod_ata_at: null
                        pod_timezone: America/New_York
                        destination_eta_at: 2020-03-26T17:00:00Z
                        destination_ata_at: null
                        destination_timezone: America/Detroit
                      relationships:
                        containers:
                          data:
                          - id: c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa
                            type: container
                        port_of_lading:
                          data:
                            id: bde5465a-1160-4fde-a026-74df9c362f65
                            type: port
                        port_of_discharge:
                          data:
                            id: f7cb530a-9e60-412c-a5bc-205a2f34ba54
                            type: port
                        destination:
                          data:
                            id: c9ae2b6b-5088-4e07-ba09-2872121e4fa2
                            type: metro_area
                        customer:
                          data:
                            id: ff76b51a-371e-45ec-86d1-9d03ccae566a
                            type: account
                    included:
                    - id: c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa
                      type: container
                      attributes:
                        number: UACU4743531
                        equipment_type: reefer
                        length: 40
                        height: high_cube
                        weight: 35075
                        weight_unit: kigs
                        created_at: 2020-02-20T08:19:52Z
                        seal_number: null
                        pickup_lfd: null
                        availability_known: false
                        available_for_pickup: null
                        current_transportation_mode: vessel
                        pod_discharged_at: null
                        pod_picked_up_at: null
                        destination_unloaded_at: null
                        destination_picked_up_at: null
                        empty_returned_at: null
                        pod_timezone: America/Los_Angeles
                        destination_timezone: America/Detroit
                        empty_returned_timezone: null
                      relationships:
                        most_recent_location:
                          data:
                            id: dd179094-a1d4-4129-842d-b952e43df4b7
                            type: port
                        shipment:
                          data:
                            id: 512ae32c-a604-44f8-9c15-2ca9cd3d2ae8
                            type: shipment
                        current_vessel:
                          data:
                            id: 252a5450-2893-4207-b5c4-81ce3152ce84
                            type: vessel
                    - id: bde5465a-1160-4fde-a026-74df9c362f65
                      type: port
                      attributes:
                        name: Visakhapatnam
                        locode: INVTZ
                        country_code: IN
                        timezone: Asia/Calcutta
                    - id: dd179094-a1d4-4129-842d-b952e43df4b7
                      type: port
                      attributes:
                        name: Damietta
                        locode: EGDAM
                        country_code: EG
                        time_zone: Africa/Cairo
                    - id: f7cb530a-9e60-412c-a5bc-205a2f34ba54
                      type: port
                      attributes:
                        name: New York / New Jersey
                        locode: USNYC
                        country_code: US
                        timezone: America/New_York
                    - id: c9ae2b6b-5088-4e07-ba09-2872121e4fa2
                      type: metro_area
                      attributes:
                        name: Detroit
                        locode: USDET
                        country_code: US
                        state_abbr: MI
                        timezone: America/Detroit
                    - id: ff76b51a-371e-45ec-86d1-9d03ccae566a
                      type: account
                      attributes:
                        name: A-Z Imports
                    - id: 252a5450-2893-4207-b5c4-81ce3152ce84
                      type: vessel
                      attributes:
                        name: CMA CGM ALMAVIVA
                        imo: "9450648"
                        mmsi: "228339600"
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: OK
        "422":
          content:
            application/json:
              examples:
                Errors:
                  value:
                    error:
                    - title: Invalid arrival_date_from
                      detail: filter['arrival_from'] must be in the format 'YYYY-MM-DD'
                        and a valid date
                    - title: Invalid arrival_date_to
                      detail: filter['arrival_from'] must be in the format 'YYYY-MM-DD'
                        and a valid date
                    - title: Invalid port_of_lading
                      detail: port_of_discharge must be an array of 5 character UN/LOCODEs
                    - title: Invalid port_of_discharge
                      detail: port_of_discharge must be an array of 5 character UN/LOCODEs
              schema:
                $ref: '#/components/schemas/inline_response_422'
          description: Unprocessable Entity
      summary: List shipments
      tags:
      - Shipments
  /shipments/{id}:
    get:
      description: Retrieves the details of an existing shipment. You need only supply
        the unique shipment `id` that was returned upon `tracking_request` creation.
      operationId: get-shipment-id
      parameters:
      - description: Shipment Id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Comma delimited list of relations to include
        explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                En-route to NY with inland move:
                  value:
                    data:
                      id: 512ae32c-a604-44f8-9c15-2ca9cd3d2ae8
                      type: shipment
                      attributes:
                        bill_of_lading_number: "6140575020"
                        ref_numbers:
                        - my-ref-49
                        - PO#18412
                        created_at: 2020-02-20T13:37:12Z
                        tags: []
                        port_of_lading_locode: INVTZ
                        port_of_lading_name: Visakhapatnam, IN
                        port_of_discharge_locode: USNYC
                        port_of_discharge_name: New York / New Jersey, NY
                        destination_locode: USDET
                        destination_name: Detroit, MI
                        shipping_line_scac: HLCU
                        pod_vessel_name: CMA CGM ALMAVIVA
                        pod_vessel_imo: "9450648"
                        pod_voyage_number: "0108"
                        pol_etd_at: null
                        pol_atd_at: 2020-02-15T21:53:00Z
                        pol_timezone: Asia/Calcutta
                        pod_eta_at: 2020-03-18T08:00:00Z
                        pod_ata_at: null
                        pod_timezone: America/New_York
                        destination_eta_at: 2020-03-26T17:00:00Z
                        destination_ata_at: null
                        destination_timezone: America/Detroit
                      relationships:
                        containers:
                          data:
                          - id: c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa
                            type: container
                        port_of_lading:
                          data:
                            id: bde5465a-1160-4fde-a026-74df9c362f65
                            type: port
                        port_of_discharge:
                          data:
                            id: f7cb530a-9e60-412c-a5bc-205a2f34ba54
                            type: port
                        destination:
                          data:
                            id: c9ae2b6b-5088-4e07-ba09-2872121e4fa2
                            type: metro_area
                        customer:
                          data:
                            id: ff76b51a-371e-45ec-86d1-9d03ccae566a
                            type: account
                    included:
                    - id: c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa
                      type: container
                      attributes:
                        number: UACU4743531
                        equipment_type: reefer
                        length: 40
                        height: high_cube
                        weight: 35075
                        weight_unit: kigs
                        created_at: 2020-02-20T08:19:52Z
                        seal_number: null
                        pickup_lfd: null
                        availability_known: false
                        available_for_pickup: null
                        current_transportation_mode: vessel
                        pod_discharged_at: null
                        pod_picked_up_at: null
                        destination_unloaded_at: null
                        destination_picked_up_at: null
                        empty_returned_at: null
                        pod_timezone: America/Los_Angeles
                        destination_timezone: America/Detroit
                        empty_returned_timezone: null
                      relationships:
                        most_recent_location:
                          data:
                            id: dd179094-a1d4-4129-842d-b952e43df4b7
                            type: port
                        shipment:
                          data:
                            id: 512ae32c-a604-44f8-9c15-2ca9cd3d2ae8
                            type: shipment
                        current_vessel:
                          data:
                            id: 252a5450-2893-4207-b5c4-81ce3152ce84
                            type: vessel
                    - id: bde5465a-1160-4fde-a026-74df9c362f65
                      type: port
                      attributes:
                        name: Visakhapatnam
                        locode: INVTZ
                        country_code: IN
                        timezone: Asia/Calcutta
                    - id: dd179094-a1d4-4129-842d-b952e43df4b7
                      type: port
                      attributes:
                        name: Damietta
                        locode: EGDAM
                        country_code: EG
                        time_zone: Africa/Cairo
                    - id: f7cb530a-9e60-412c-a5bc-205a2f34ba54
                      type: port
                      attributes:
                        name: New York / New Jersey
                        locode: USNYC
                        country_code: US
                        timezone: America/New_York
                    - id: c9ae2b6b-5088-4e07-ba09-2872121e4fa2
                      type: metro_area
                      attributes:
                        name: Detroit
                        locode: USDET
                        country_code: US
                        state_abbr: MI
                        timezone: America/Detroit
                    - id: ff76b51a-371e-45ec-86d1-9d03ccae566a
                      type: account
                      attributes:
                        name: A-Z Imports
                    - id: 252a5450-2893-4207-b5c4-81ce3152ce84
                      type: vessel
                      attributes:
                        name: CMA CGM ALMAVIVA
                        imo: "9450648"
                        mmsi: "228339600"
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: OK
        "404":
          content:
            application/json:
              examples:
                En-route to NY with inland move:
                  value:
                    data:
                      id: 512ae32c-a604-44f8-9c15-2ca9cd3d2ae8
                      type: shipment
                      attributes:
                        bill_of_lading_number: "6140575020"
                        ref_numbers:
                        - my-ref-49
                        - PO#18412
                        created_at: 2020-02-20T13:37:12Z
                        tags: []
                        port_of_lading_locode: INVTZ
                        port_of_lading_name: Visakhapatnam, IN
                        port_of_discharge_locode: USNYC
                        port_of_discharge_name: New York / New Jersey, NY
                        destination_locode: USDET
                        destination_name: Detroit, MI
                        shipping_line_scac: HLCU
                        pod_vessel_name: CMA CGM ALMAVIVA
                        pod_voyage_number: "0108"
                        pol_etd_at: null
                        pol_atd_at: 2020-02-15T21:53Z
                        pol_timezone: Asia/Calcutta
                        pod_eta_at: 2020-03-18T08:00Z
                        pod_ata_at: null
                        pod_timezone: America/New_York
                        destination_eta_at: 2020-03-26T17:00Z
                        destination_ata_at: null
                        destination_timezone: America/Detroit
                      relationships:
                        containers:
                          data:
                          - id: c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa
                            type: container
                        port_of_lading:
                          data:
                            id: bde5465a-1160-4fde-a026-74df9c362f65
                            type: port
                        port_of_discharge:
                          data:
                            id: f7cb530a-9e60-412c-a5bc-205a2f34ba54
                            type: port
                        destination:
                          data:
                            id: c9ae2b6b-5088-4e07-ba09-2872121e4fa2
                            type: metro_area
                        customer:
                          data:
                            id: ff76b51a-371e-45ec-86d1-9d03ccae566a
                            type: account
                    included:
                    - id: c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa
                      type: container
                      attributes:
                        number: UACU4743531
                        equipment_type: reefer
                        length: 40
                        height: high_cube
                        weight: 35075
                        weight_unit: kigs
                        created_at: 2020-02-20T08:19:52Z
                        seal_number: null
                        pickup_lfd: null
                        availability_known: false
                        available_for_pickup: null
                        current_transportation_mode: vessel
                        pod_discharged_at: null
                        pod_picked_up_at: null
                        destination_unloaded_at: null
                        destination_picked_up_at: null
                        empty_returned_at: null
                        pod_timezone: America/Los_Angeles
                        destination_timezone: America/Detroit
                        empty_returned_timezone: null
                      relationships:
                        most_recent_location:
                          data:
                            id: dd179094-a1d4-4129-842d-b952e43df4b7
                            type: port
                        shipment:
                          data:
                            id: 512ae32c-a604-44f8-9c15-2ca9cd3d2ae8
                            type: shipment
                        current_vessel:
                          data:
                            id: 252a5450-2893-4207-b5c4-81ce3152ce84
                            type: vessel
                    - id: bde5465a-1160-4fde-a026-74df9c362f65
                      type: port
                      attributes:
                        name: Visakhapatnam
                        locode: INVTZ
                        country_code: IN
                        timezone: Asia/Calcutta
                    - id: dd179094-a1d4-4129-842d-b952e43df4b7
                      type: port
                      attributes:
                        name: Damietta
                        locode: EGDAM
                        country_code: EG
                        time_zone: Africa/Cairo
                    - id: f7cb530a-9e60-412c-a5bc-205a2f34ba54
                      type: port
                      attributes:
                        name: New York / New Jersey
                        locode: USNYC
                        country_code: US
                        timezone: America/New_York
                    - id: c9ae2b6b-5088-4e07-ba09-2872121e4fa2
                      type: metro_area
                      attributes:
                        name: Detroit
                        locode: USDET
                        country_code: US
                        state_abbr: MI
                        timezone: America/Detroit
                    - id: ff76b51a-371e-45ec-86d1-9d03ccae566a
                      type: account
                      attributes:
                        name: A-Z Imports
                    - id: 252a5450-2893-4207-b5c4-81ce3152ce84
                      type: vessel
                      attributes:
                        name: CMA CGM ALMAVIVA
                        imo: "9450648"
                        mmsi: "228339600"
              schema:
                $ref: '#/components/schemas/inline_response_422'
          description: Not Found
      summary: Get a shipment
      tags:
      - Shipments
  /tracking_requests:
    get:
      description: Returns a list of your tracking requests. The trackig requests
        are returned sorted by creation date, with the most recent tracking request
        appearing first.
      operationId: get-tracking-requests
      parameters:
      - deprecated: true
        description: A search term to be applied against request_number and reference_numbers.
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: filter by `status`
        explode: true
        in: query
        name: filter[status]
        required: false
        schema:
          enum:
          - created
          - pending
          - failed
          example: created
          type: string
        style: form
      - description: filter by shipping line `scac`
        explode: true
        in: query
        name: filter[scac]
        required: false
        schema:
          example: MSCU
          type: string
        style: form
      - description: filter by tracking_requests `created_at` after a certain ISO8601
          timestamp
        explode: true
        in: query
        name: filter[created_at][start]
        required: false
        schema:
          example: 2020-04-28T22:59:15Z
          format: date-time
          type: string
        style: form
      - description: filter by tracking_requests `created_at` before a certain ISO8601
          timestamp
        explode: true
        in: query
        name: filter[created_at][end]
        required: false
        schema:
          example: 2020-04-28T22:59:15Z
          format: date-time
          type: string
        style: form
      - description: Comma delimited list of relations to include. 'tracked_object'
          is included by default.
        explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: page[number]
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: page[size]
        required: false
        schema:
          type: integer
        style: form
      - description: filter by tracking_requests `request_number`
        explode: true
        in: query
        name: request_number
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples: {}
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_422'
          description: Not Found
      summary: List tracking requests
      tags:
      - Tracking Requests
    post:
      description: "To track an ocean shipment, you create a new tracking request.\
        \ \nTwo attributes are required to track a shipment. A `bill of lading/booking\
        \ number` and a shipping line `SCAC`. \n\nOnce a tracking request is created\
        \ we will attempt to fetch the shipment details and it's related containers\
        \ from the shipping line. If the attempt is successful we will create in new\
        \ shipment object including any related container objects. We will send a\
        \ `tracking_Request.succeeded` webhook notification to your webhooks.  \n\n\
        If the attempt to fetch fails then we will send a `tracking_Request.failed`\
        \ webhook notification to your `webhooks`.  \n\nA `tracking_Request.succeeded`\
        \ or `tracking_Request.failed` webhook notificaiton will only be sent  if\
        \ you have  atleast one active webhook. "
      operationId: post-track
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/json:
            examples:
              'Example: MSC BL':
                value:
                  data:
                    attributes:
                      request_type: bill_of_lading
                      request_number: MEDUFR030802
                      ref_numbers:
                      - PO12345
                      - HBL12345
                      - CUSREF1234
                      shipment_tags:
                      - camembert
                      scac: MSCU
                    type: tracking_request
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_tracking_requests_data'
              type: object
        description: Create a shipment tracking request
      responses:
        "201":
          content:
            application/json:
              examples:
                Pending Tracking Request:
                  value:
                    data:
                      id: ba4cb904-827f-4038-8e31-1e92b3356218
                      type: tracking_request
                      attributes:
                        request_number: MEDUFR030802
                        request_type: bill_of_lading
                        scac: MSCU
                        ref_numbers: []
                        created_at: 2020-04-04T16:13:35-07:00
                        status: pending
                        failed_reason: null
                      relationships:
                        tracked_object:
                          data: null
                      links:
                        self: /v2/tracking_requests/ba4cb904-827f-4038-8e31-1e92b3356218
              schema:
                $ref: '#/components/schemas/inline_response_201'
          description: Tracking Request Created
        "422":
          content:
            application/json:
              examples:
                Error Examples:
                  value:
                    errors:
                    - status: "422"
                      source:
                        pointer: /data/attributes/scac
                      title: Unprocessable Entity
                      detail: Scac can't be blank
                      code: blank
                    - status: "422"
                      source:
                        pointer: /data/attributes/scac
                      title: Unprocessable Entity
                      detail: Scac 'XXXX' is not recognized
                      code: blank
                    - status: "422"
                      source:
                        pointer: /data/attributes/scac
                      title: Unprocessable Entity
                      detail: Scac 'UALC' is not supported. We do not currently integrate
                        with Universal Africa Lines
                      code: blank
                    - status: "422"
                      source:
                        pointer: /data/attributes/request_number
                      title: Unprocessable Entity
                      detail: Request number can't be blank
                      code: blank
              schema:
                $ref: '#/components/schemas/inline_response_422'
          description: Unprocessable Entity
      security:
      - authorization: []
      summary: Create a tracking request
      tags:
      - Tracking Requests
  /tracking_requests/{id}:
    get:
      description: 'Get the details and status of an existing tracking request. '
      operationId: get-track-request-by-id
      parameters:
      - description: Tracking Request ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Comma delimited list of relations to include. 'tracked_object'
          is included by default.
        explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                With Status Created:
                  value:
                    data:
                      id: ba4cb904-827f-4038-8e31-1e92b3356218
                      type: tracking_request
                      attributes:
                        request_number: MEDUFR030802
                        request_type: bill_of_lading
                        scac: MSCU
                        ref_numbers: []
                        created_at: 2020-04-04T16:13:35-07:00
                        status: created
                        failed_reason: null
                      relationships:
                        tracked_object:
                          data:
                            id: eb6f218a-0b4a-47f9-8ef9-759aa5e0ea83
                            type: shipment
                      links:
                        self: /v2/tracking_requests/ba4cb904-827f-4038-8e31-1e92b3356218
                    included:
                    - id: eb6f218a-0b4a-47f9-8ef9-759aa5e0ea83
                      type: shipment
                      attributes:
                        created_at: 2020-04-04T16:13:37-07:00
                        bill_of_lading_number: MEDUFR030802
                        ref_numbers:
                        - null
                        shipping_line_scac: MSCU
                        shipping_line_name: Mediterranean Shipping Company
                        port_of_lading_locode: FRFOS
                        port_of_lading_name: Fos-Sur-Mer
                        port_of_discharge_locode: USOAK
                        port_of_discharge_name: Oakland
                        pod_vessel_name: MSC ALGECIRAS
                        pod_vessel_imo: "9605243"
                        pod_voyage_number: 920A
                        destination_locode: USOAK
                        destination_name: Oakland
                        destination_timezone: America/Los_Angeles
                        destination_ata_at: 2019-06-21T18:46:00-07:00
                        destination_eta_at: null
                        pol_etd_at: null
                        pol_atd_at: 2019-05-24T03:00:00-07:00
                        pol_timezone: Europe/Paris
                        pod_eta_at: null
                        pod_ata_at: 2019-06-21T18:46:00-07:00
                        pod_timezone: America/Los_Angeles
                      relationships:
                        port_of_lading:
                          data:
                            id: 6d8c6c29-72a6-49ad-87b7-fd045f202212
                            type: port
                        port_of_discharge:
                          data:
                            id: 42d1ba3a-f4b8-431d-a6fe-49fd748a59e7
                            type: port
                        pod_terminal:
                          data: null
                        destination:
                          data:
                            id: 42d1ba3a-f4b8-431d-a6fe-49fd748a59e7
                            type: port
                        containers:
                          data:
                          - id: 11c1fa10-52a5-48e2-82f4-5523756b3d0f
                            type: container
                      links:
                        self: /v2/shipments/eb6f218a-0b4a-47f9-8ef9-759aa5e0ea83
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: OK
        "404":
          content:
            application/json:
              examples: {}
              schema:
                $ref: '#/components/schemas/inline_response_422'
          description: Not Found
      summary: Get a single tracking request
      tags:
      - Tracking Requests
  /webhooks/{id}:
    delete:
      description: Delete a webhook
      operationId: delete-webhooks-id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Delete a webhook
      tags:
      - Webhooks
    get:
      description: Get the details of a single webhook
      operationId: get-webhooks-id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
          description: OK
      summary: Get single webhook
      tags:
      - Webhooks
    patch:
      description: Update a single webhook
      operationId: patch-webhooks-id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_1'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_webhooks__id__data'
              required:
              - data
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
          description: OK
      summary: Edit a webhook
      tags:
      - Webhooks
  /webhooks:
    get:
      description: Get a list of all the webhooks
      operationId: get-webhooks
      parameters:
      - explode: true
        in: query
        name: page[number]
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: page[size]
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    data:
                    - id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                      type: webhook
                      attributes:
                        url: http://example.com
                        active: true
                        events:
                        - string
                        secret: string
                        headers:
                        - name: string
                          value: string
                    meta:
                      size: 0
                      total: 0
                    links:
                      last: http://example.com
                      next: http://example.com
                      prev: http://example.com
                      first: http://example.com
                      self: http://example.com
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
          description: OK
      summary: List webhooks
      tags:
      - Webhooks
    post:
      description: "You can configure a webhook via the API to be notified about events\
        \ that happen in your Terminal49 account. These events can be realted to tracking_requests,\
        \ shipments and containers. \n\nThis is the recommended way tracking shipments\
        \ and containers via the API. You should use this instead of polling our the\
        \ API periodically.  "
      operationId: post-webhooks
      requestBody:
        $ref: '#/components/requestBodies/inline_object_2'
        content:
          application/json:
            examples:
              Test Webhook (all events):
                value:
                  data:
                    attributes:
                      url: https://webhook.site/
                      events:
                      - '*'
                      active: true
                    type: webhook
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_webhooks_data'
              required:
              - data
              type: object
      responses:
        "201":
          content:
            application/json:
              examples:
                Test Endpoint Created:
                  value:
                    data:
                      type: webhook
                      id: 9809fb96-7754-488f-99df-29ca8d410d89
                      attributes:
                        url: https://webhook.site/
                        active: true
                        events:
                        - '*'
                        secret: C193J3QOXMFH
                        created_at: 2020-06-05T19:06:13Z
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
            application/xml:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
          description: Create a test webhook endpoint
      summary: Create a webhook
      tags:
      - Webhooks
  /webhook_notification/{id}:
    get:
      operationId: get-webhook-notification-id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Comma delimited list of relations to include.
        explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Tracking Request:
                  value:
                    data:
                      id: a76187fc-5749-43f9-9053-cfaad9790a31
                      type: webhook_notification
                      attributes:
                        id: a76187fc-5749-43f9-9053-cfaad9790a31
                        event: tracking_request.succeeded
                        delivery_status: pending
                        created_at: 2020-09-11T21:25:34Z
                      relationships:
                        reference_object:
                          data:
                            id: bdeca506-9741-4ab1-a0a7-cfd1d908e923
                            type: tracking_request
                        webhook:
                          data:
                            id: 914b21ce-dd7d-4c49-8503-65aba488e9a9
                            type: webhook
                        webhook_notification_logs:
                          data: []
                    included:
                    - id: bdeca506-9741-4ab1-a0a7-cfd1d908e923
                      type: tracking_request
                      attributes:
                        request_number: TE497ED1063E
                        request_type: bill_of_lading
                        scac: MSCU
                        ref_numbers: []
                        created_at: 2020-09-11T21:25:34Z
                        status: created
                        failed_reason: null
                        is_retrying: false
                        retry_count: null
                      relationships:
                        tracked_object:
                          data:
                            id: b5b10c0a-8d18-46da-b4c2-4e5fa790e7da
                            type: shipment
                      links:
                        self: /v2/tracking_requests/bdeca506-9741-4ab1-a0a7-cfd1d908e923
                    - id: b5b10c0a-8d18-46da-b4c2-4e5fa790e7da
                      type: shipment
                      attributes:
                        created_at: 2020-09-11T21:25:33Z
                        bill_of_lading_number: TE497ED1063E
                        ref_numbers: []
                        shipping_line_scac: MSCU
                        shipping_line_name: Mediterranean Shipping Company
                        port_of_lading_locode: MXZLO
                        port_of_lading_name: Manzanillo
                        port_of_discharge_locode: USOAK
                        port_of_discharge_name: Port of Oakland
                        pod_vessel_name: MSC CHANNE
                        pod_vessel_imo: "9710438"
                        pod_voyage_number: 098N
                        destination_locode: null
                        destination_name: null
                        destination_timezone: null
                        destination_ata_at: null
                        destination_eta_at: null
                        pol_etd_at: null
                        pol_atd_at: 2020-08-29T21:25:33Z
                        pol_timezone: America/Mexico_City
                        pod_eta_at: 2020-09-18T21:25:33Z
                        pod_ata_at: null
                        pod_timezone: America/Los_Angeles
                      relationships:
                        port_of_lading:
                          data:
                            id: 4384d6a5-5ccc-43b7-8d19-4a9525e74c08
                            type: port
                        port_of_discharge:
                          data:
                            id: 2a765fdd-c479-4345-b71d-c4ef839952e2
                            type: port
                        pod_terminal:
                          data:
                            id: 17891bc8-52da-40bf-8ff0-0247ec05faf1
                            type: terminal
                        destination:
                          data: null
                        containers:
                          data:
                          - id: b2fc728c-e2f5-4a99-8899-eb7b34ef22d7
                            type: container
                      links:
                        self: /v2/shipments/b5b10c0a-8d18-46da-b4c2-4e5fa790e7da
                    - id: b2fc728c-e2f5-4a99-8899-eb7b34ef22d7
                      type: container
                      attributes:
                        number: ARDU1824900
                        seal_number: 139F1451
                        created_at: 2020-09-11T21:25:34Z
                        equipment_type: dry
                        equipment_length: 40
                        equipment_height: standard
                        weight_in_lbs: 53507
                        fees_at_pod_terminal: []
                        holds_at_pod_terminal: []
                        pickup_lfd: null
                        pickup_appointment_at: null
                        availability_known: true
                        available_for_pickup: false
                        pod_arrived_at: null
                        pod_discharged_at: null
                        final_destination_full_out_at: null
                        pod_full_out_at: null
                        empty_terminated_at: null
                      relation ships:
                        shipment:
                          data:
                            id: b5b10c0a-8d18-46da-b4c2-4e5fa790e7da
                            type: shipment
                        pod_terminal:
                          data:
                            id: 17891bc8-52da-40bf-8ff0-0247ec05faf1
                            type: terminal
                        transport_events:
                          data:
                          - id: 56078596-5293-4c84-9245-cca00a787265
                            type: transport_event
                    - id: 56078596-5293-4c84-9245-cca00a787265
                      type: transport_event
                      attributes:
                        event: container.transport.vessel_departed
                        created_at: 2020-09-11T21:25:34Z
                        voyage_number: null
                        timestamp: 2020-08-29T21:25:33Z
                        location_locode: MXZLO
                        timezone: America/Los_Angeles
                      relationships:
                        shipment:
                          data:
                            id: b5b10c0a-8d18-46da-b4c2-4e5fa790e7da
                            type: shipment
                        container:
                          data:
                            id: b2fc728c-e2f5-4a99-8899-eb7b34ef22d7
                            type: container
                        vessel:
                          data: null
                        location:
                          data:
                            id: 2a765fdd-c479-4345-b71d-c4ef839952e2
                            type: port
                        terminal:
                          data: null
                Estimated Event:
                  value:
                    data:
                      id: d7e04138-b59d-4c41-9d2d-251d95bedd6e
                      type: webhook_notification
                      attributes:
                        id: d7e04138-b59d-4c41-9d2d-251d95bedd6e
                        event: shipment.estimated.arrival
                        delivery_status: pending
                        created_at: 2020-09-11T21:25:34Z
                      relationships:
                        reference_object:
                          data:
                            id: b68bc6cb-2c37-43f6-889b-86a16b2b6fe6
                            type: estimated_event
                        webhook:
                          data:
                            id: 614eab61-ae3c-4d40-bbe9-41200a172691
                            type: webhook
                    included:
                    - id: b68bc6cb-2c37-43f6-889b-86a16b2b6fe6
                      type: estimated_event
                      attributes:
                        created_at: 2020-04-06T19:02:46-07:00
                        estimated_timestamp: 2020-04-09T19:02:46-07:00
                        voyage_number: A1C
                        event: shipment.estimated.arrival
                        timezone: America/Los_Angeles
                      relationships:
                        shipment:
                          data:
                            id: 715ed64b-6195-49f6-9407-1383a8088bfd
                            type: shipment
                        port:
                          data:
                            id: ed4001a5-ad9d-43c3-883c-79354f422510
                            type: port
                        vessel:
                          data:
                            id: ebf68c6c-9d0d-4383-aa41-e097009dfb4c
                            type: vessel
                    - id: ed4001a5-ad9d-43c3-883c-79354f422510
                      type: port
                      attributes:
                        id: ed4001a5-ad9d-43c3-883c-79354f422510
                        name: Port of Oakland
                        code: USOAK
                        state_abbr: CA
                        city: Oakland
                        country_code: US
                        time_zone: America/Los_Angeles
                    - id: 715ed64b-6195-49f6-9407-1383a8088bfd
                      type: shipment
                      attributes:
                        created_at: 2020-04-06T19:02:46-07:00
                        bill_of_lading_number: TE49DD6650B9
                        ref_numbers:
                        - REF-4A25EA
                        shipping_line_scac: MSCU
                        shipping_line_name: Mediterranean Shipping Company
                        port_of_lading_locode: MXZLO
                        port_of_lading_name: Manzanillo
                        port_of_discharge_locode: USOAK
                        port_of_discharge_name: Port of Oakland
                        pod_vessel_name: MSC CHANNE
                        pod_vessel_imo: "9710438"
                        pod_voyage_number: 098N
                        destination_locode: null
                        destination_name: null
                        destination_timezone: null
                        destination_ata_at: null
                        destination_eta_at: null
                        pol_etd_at: null
                        pol_atd_at: null
                        pol_timezone: America/Mexico_City
                        pod_eta_at: 2020-04-13T19:02:46-07:00
                        pod_ata_at: null
                        pod_timezone: America/Los_Angeles
                      relationships:
                        port_of_lading:
                          data:
                            id: 1378c720-efe9-4562-a2ad-562002eb4b1d
                            type: port
                        port_of_discharge:
                          data:
                            id: ed4001a5-ad9d-43c3-883c-79354f422510
                            type: port
                        pod_terminal:
                          data:
                            id: 2508d879-4451-4d7f-ab23-92258b5df553
                            type: terminal
                        destination:
                          data: null
                        containers:
                          data: []
                      links:
                        self: /v2/shipments/715ed64b-6195-49f6-9407-1383a8088bfd
                Transport Event:
                  value:
                    data:
                      id: abec839a-48fe-4540-93d7-d3ea3d67bdbf
                      type: webhook_notification
                      attributes:
                        id: abec839a-48fe-4540-93d7-d3ea3d67bdbf
                        event: container.transport.vessel_arrived
                        delivery_status: pending
                        created_at: 2020-07-28T23:12:53Z
                      relationships:
                        reference_object:
                          data:
                            id: a6ecb8ab-98d6-4cab-8487-ce9dd7be082b
                            type: transport_event
                        webhook:
                          data:
                            id: 534d498b-8332-439a-accb-129dfd144ceb
                            type: webhook
                        webhook_notification_logs:
                          data: []
                    included:
                    - id: a6ecb8ab-98d6-4cab-8487-ce9dd7be082b
                      type: transport_event
                      attributes:
                        event: container.transport.vessel_arrived
                        created_at: 2020-07-28T23:12:53Z
                        voyage_number: null
                        timestamp: 2020-07-28T23:12:53Z
                        timezone: America/Los_Angeles
                      relationships:
                        shipment:
                          data:
                            id: 1fc35241-4c8b-420d-803a-9e6661720a05
                            type: shipment
                        container:
                          data:
                            id: 8c2f335a-b155-4021-87f0-9b040159a981
                            type: container
                        vessel:
                          data:
                            id: b381c692-8dad-4f04-873f-d9e567143335
                            type: vessel
                        location:
                          data:
                            id: f5a8a49f-d8b2-4d2a-8a43-0e4ff0ce7995
                            type: port
                        terminal:
                          data:
                            id: 26fede8d-2c6d-4bf5-98d6-5a86d30f17a9
                            type: terminal
                    - id: f5a8a49f-d8b2-4d2a-8a43-0e4ff0ce7995
                      type: port
                      attributes:
                        id: f5a8a49f-d8b2-4d2a-8a43-0e4ff0ce7995
                        name: Port of Oakland
                        code: USOAK
                        state_abbr: CA
                        city: Oakland
                        country_code: US
                        time_zone: America/Los_Angeles
                    - id: 1fc35241-4c8b-420d-803a-9e6661720a05
                      type: shipment
                      attributes:
                        created_at: 2020-07-28T23:12:53Z
                        bill_of_lading_number: TE491846459E
                        ref_numbers:
                        - null
                        shipping_line_scac: MSCU
                        shipping_line_name: Mediterranean Shipping Company
                        port_of_lading_locode: MXZLO
                        port_of_lading_name: Manzanillo
                        port_of_discharge_locode: USOAK
                        port_of_discharge_name: Port of Oakland
                        pod_vessel_name: MSC CHANNE
                        pod_vessel_imo: "9710438"
                        pod_voyage_number: 098N
                        destination_locode: null
                        destination_name: null
                        destination_timezone: null
                        destination_ata_at: null
                        destination_eta_at: null
                        pol_etd_at: null
                        pol_atd_at: 2020-07-15T23:12:53Z
                        pol_timezone: America/Mexico_City
                        pod_eta_at: 2020-08-04T23:12:53Z
                        pod_ata_at: null
                        pod_timezone: America/Los_Angeles
                      relationships:
                        port_of_lading:
                          data:
                            id: 06564cb7-77d6-4e0e-8e4a-37756ca21bc9
                            type: port
                        port_of_discharge:
                          data:
                            id: f5a8a49f-d8b2-4d2a-8a43-0e4ff0ce7995
                            type: port
                        pod_terminal:
                          data:
                            id: 06f5d3bb-f258-4f1b-8c2f-db78248f6e29
                            type: terminal
                        destination:
                          data: null
                        containers:
                          data:
                          - id: 8c2f335a-b155-4021-87f0-9b040159a981
                            type: container
                      links:
                        self: /v2/shipments/1fc35241-4c8b-420d-803a-9e6661720a05
                Container Updated Event:
                  value:
                    data:
                      id: 416e293f-4423-47f7-abf3-1ae97054f41f
                      type: webhook_notification
                      attributes:
                        id: 416e293f-4423-47f7-abf3-1ae97054f41f
                        event: container.updated
                        delivery_status: pending
                        created_at: 2020-06-04T22:03:09Z
                      relationships:
                        reference_object:
                          data:
                            id: fc48cb10-b7a8-47a4-a12f-89bce7434978
                            type: container_updated_event
                        webhook:
                          data:
                            id: cda37836-aa40-455e-8b43-5fd74930c7f6
                            type: webhook
                        webhook_notification_logs:
                          data: []
                    included:
                    - id: fc48cb10-b7a8-47a4-a12f-89bce7434978
                      type: container_updated_event
                      attributes:
                        changeset:
                          available_for_pickup:
                          - false
                          - true
                          pod_terminal_holds:
                          - null
                          - - name: customs
                              status: hold
                              description: CUST EXAM
                        timestamp: 2020-06-04T22:03:09Z
                        timezone: America/Los_Angeles
                      relationships:
                        container:
                          data:
                            id: 1445af31-991c-4d52-a183-6c3ea97cd6e8
                            type: container
                        terminal:
                          data:
                            id: 07db0258-1911-4acf-8e70-0cfe4b100f80
                            type: terminal
                    - id: 1445af31-991c-4d52-a183-6c3ea97cd6e8
                      type: container
                      attributes:
                        number: GLDU1355602
                        seal_number: 431ac97412228532
                        created_at: 2020-05-04T22:03:09Z
                        equipment_type: dry
                        equipment_length: 40
                        equipment_height: standard
                        weight_in_lbs: 55634
                        fees_at_pod_terminal: []
                        holds_at_pod_terminal: []
                        pickup_lfd: null
                        availability_known: true
                        available_for_pickup: null
                        pod_arrived_at: 2020-06-04T22:03:08Z
                        pod_discharged_at: 2020-06-04T22:03:08Z
                        final_destination_full_out_at: 2020-06-04T22:03:08Z
                        pod_full_out_at: null
                        empty_terminated_at: null
                      relationships:
                        shipment:
                          data: null
                    - id: 07db0258-1911-4acf-8e70-0cfe4b100f80
                      type: terminal
                      attributes:
                        id: 07db0258-1911-4acf-8e70-0cfe4b100f80
                        nickname: Denesik-Hintz
                        name: Adams LLC Terminal
                        firms_code: E005
                      relationships:
                        port:
                          data:
                            id: d8a92775-95f9-47be-a6d2-42542a32d5fc
                            type: port
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
      summary: Get a single webhook notification
      tags:
      - Webhook Notifications
  /webhook_notifications:
    get:
      description: 'Return the list of  webhook notifications. This can be useful
        for reconciling your data if your endpoint has been down. '
      operationId: get-webhook-notifications
      parameters:
      - explode: true
        in: query
        name: page[number]
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: page[size]
        required: false
        schema:
          type: integer
        style: form
      - description: Comma delimited list of relations to include.
        explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
          description: OK
      summary: List webhook notifications
      tags:
      - Webhook Notifications
  /containers:
    get:
      description: |-
        Returns a list of container. The containers are returned sorted by creation date, with the most recent container appearing first.

        This API will return all containers associated with the account.
      operationId: get-containers
      parameters:
      - explode: true
        in: query
        name: page[number]
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: page[size]
        required: false
        schema:
          default: 30
          type: integer
        style: form
      - description: Comma delimited list of relations to include
        explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example List of containers:
                  value:
                    data:
                    - id: 99e13c35-4bfa-47d7-863e-789f8be38ffc
                      type: container
                      attributes:
                        number: TCLU6738746
                        seal_number: null
                        created_at: 2019-05-16T18:58:29Z
                        equipment_type: dry
                        equipment_length: 40
                        equipment_height: high_cube
                        weight_in_lbs: 38618
                        fees_at_pod_terminal: []
                        holds_at_pod_terminal: []
                        pickup_lfd: 2019-05-24T07:00:00Z
                        pickup_appointment_at: null
                        availability_known: true
                        available_for_pickup: false
                        pod_arrived_at: 2019-05-19T12:30:00Z
                        pod_discharged_at: null
                        final_destination_full_out_at: null
                        pod_full_out_at: 2019-05-22T18:57:17Z
                        empty_terminated_at: null
                      relationships:
                        shipment:
                          data:
                            id: 2c13b381-5a21-487d-9b77-e1480216de54
                            type: shipment
                        pod_terminal:
                          data:
                            id: 3e550f0e-ac2a-48fb-b242-5be45ecf2c78
                            type: terminal
                        transport_events:
                          data:
                          - id: f3747336-4f6b-4090-85c3-4550110fa403
                            type: transport_event
                          - id: ca3b871f-84e3-4f50-854c-6c8233ab1765
                            type: transport_event
                    - id: b40c182d-31c8-474f-9c44-91764a6ca7f2
                      type: container
                      attributes:
                        number: BMOU5497252
                        seal_number: null
                        created_at: 2019-05-09T23:35:35Z
                        equipment_type: dry
                        equipment_length: 40
                        equipment_height: high_cube
                        weight_in_lbs: null
                        fees_at_pod_terminal: []
                        holds_at_pod_terminal: []
                        pickup_lfd: 2019-05-21T07:00:00Z
                        pickup_appointment_at: null
                        availability_known: true
                        available_for_pickup: false
                        pod_arrived_at: 2019-05-14T02:00:00Z
                        pod_discharged_at: null
                        final_destination_full_out_at: null
                        pod_full_out_at: 2019-05-17T16:37:28Z
                        empty_terminated_at: null
                      relationships:
                        shipment:
                          data:
                            id: 497db4cd-89cc-44c1-a1ba-7b8adeaa109c
                            type: shipment
                        pod_terminal:
                          data:
                            id: 3e550f0e-ac2a-48fb-b242-5be45ecf2c78
                            type: terminal
                        transport_events:
                          data:
                          - id: d05c6bf9-2963-4dfe-8960-c82fd3adff54
                            type: transport_event
                          - id: 8f8eb94a-8f57-4e1d-9479-4a3f0727db03
                            type: transport_event
                    - id: 0c2fb0e9-7a42-4b8f-863b-6e4315d854c3
                      type: container
                      attributes:
                        number: BMOU4973652
                        seal_number: null
                        created_at: 2019-05-02T17:14:57Z
                        equipment_type: dry
                        equipment_length: 40
                        equipment_height: high_cube
                        weight_in_lbs: null
                        fees_at_pod_terminal: []
                        holds_at_pod_terminal: []
                        pickup_lfd: 2019-05-14T07:00:00Z
                        pickup_appointment_at: null
                        availability_known: true
                        available_for_pickup: false
                        pod_arrived_at: 2019-05-07T00:30:00Z
                        pod_discharged_at: null
                        final_destination_full_out_at: null
                        pod_full_out_at: 2019-05-10T20:27:32Z
                        empty_terminated_at: null
                      relationships:
                        shipment:
                          data:
                            id: 30017ce8-9146-4adb-aece-61063f582682
                            type: shipment
                        pod_terminal:
                          data:
                            id: 3e550f0e-ac2a-48fb-b242-5be45ecf2c78
                            type: terminal
                        transport_events:
                          data:
                          - id: fc5ddc55-ce76-4d66-847f-52df957f066b
                            type: transport_event
                          - id: 16f8c3c7-c546-473a-a319-6922b630df7a
                            type: transport_event
                    - id: eeafd337-72b5-4e5c-87cb-9ef83fa99cf4
                      type: container
                      attributes:
                        number: HLXU8143951
                        seal_number: null
                        created_at: 2020-04-09T21:28:21Z
                        equipment_type: dry
                        equipment_length: 40
                        equipment_height: high_cube
                        weight_in_lbs: null
                        fees_at_pod_terminal: []
                        holds_at_pod_terminal: []
                        pickup_lfd: 2020-04-20T07:00:00Z
                        pickup_appointment_at: null
                        availability_known: true
                        available_for_pickup: false
                        pod_arrived_at: null
                        pod_discharged_at: null
                        final_destination_full_out_at: null
                        pod_full_out_at: 2020-04-14T21:07:54Z
                        empty_terminated_at: null
                      relationships:
                        shipment:
                          data:
                            id: 06264731-503e-498e-bc76-f90b87b31562
                            type: shipment
                        pod_terminal:
                          data:
                            id: 3e550f0e-ac2a-48fb-b242-5be45ecf2c78
                            type: terminal
                        transport_events:
                          data:
                          - id: efc3f3c1-cdc2-4a7d-a176-762ddec107b8
                            type: transport_event
                          - id: 951058bd-2c3b-4bcc-94e1-9be2526b9687
                            type: transport_event
                          - id: 69af6795-56c2-4157-9a87-afd761cc85a0
                            type: transport_event
                          - id: 68c3c29a-504a-4dbb-ad27-7194ef42d484
                            type: transport_event
                          - id: 03349405-a9be-4f3e-abde-28f2cb3922bd
                            type: transport_event
                          - id: ba9f85b4-658d-4f23-9308-635964df8037
                            type: transport_event
                    - id: 6b291a97-858a-4706-82b1-52d54a334fca
                      type: container
                      attributes:
                        number: TCLU9195719
                        seal_number: null
                        created_at: 2020-01-23T18:38:56Z
                        equipment_type: dry
                        equipment_length: 40
                        equipment_height: standard
                        weight_in_lbs: null
                        fees_at_pod_terminal: []
                        holds_at_pod_terminal: []
                        pickup_lfd: 2020-02-03T08:00:00Z
                        pickup_appointment_at: null
                        availability_known: true
                        available_for_pickup: false
                        pod_arrived_at: 2020-01-27T02:16:55Z
                        pod_discharged_at: 2020-01-26T00:00:00Z
                        final_destination_full_out_at: 2020-01-28T18:47:21Z
                        pod_full_out_at: null
                        empty_terminated_at: null
                      relationships:
                        shipment:
                          data:
                            id: 6e1933b4-5bea-4631-a7d2-fda49f48ded2
                            type: shipment
                        pod_terminal:
                          data:
                            id: 3e550f0e-ac2a-48fb-b242-5be45ecf2c78
                            type: terminal
                        transport_events:
                          data:
                          - id: 48f7ccd9-1de8-401f-ab82-3ee3cca928cb
                            type: transport_event
                          - id: 31d6f5a4-4357-41fe-abd0-e9836c931474
                            type: transport_event
                          - id: 6c1119dc-e56f-4829-9d68-bd0c893f497a
                            type: transport_event
                          - id: 71dd3cf3-d4bd-403f-baa6-3c373a9f1cfd
                            type: transport_event
                          - id: 028e5599-278f-46a6-b6ca-e5a659c7bf18
                            type: transport_event
                    - id: 157d61a9-9c88-4e9e-b2c9-5bfb9a83a2cc
                      type: container
                      attributes:
                        number: UACU8516536
                        seal_number: null
                        created_at: 2019-05-01T17:07:24Z
                        equipment_type: dry
                        equipment_length: 40
                        equipment_height: standard
                        weight_in_lbs: null
                        fees_at_pod_terminal: []
                        holds_at_pod_terminal: []
                        pickup_lfd: 2019-05-10T07:00:00Z
                        pickup_appointment_at: null
                        availability_known: true
                        available_for_pickup: false
                        pod_arrived_at: 2019-05-05T14:06:00Z
                        pod_discharged_at: null
                        final_destination_full_out_at: null
                        pod_full_out_at: 2019-05-09T17:27:03Z
                        empty_terminated_at: null
                      relationships:
                        shipment:
                          data:
                            id: 6de97a1b-c98f-4fce-a8fb-94cd768465c6
                            type: shipment
                        pod_terminal:
                          data:
                            id: 3e550f0e-ac2a-48fb-b242-5be45ecf2c78
                            type: terminal
                        transport_events:
                          data:
                          - id: 7b737e07-2f82-4053-9a5c-8bb948879ce0
                            type: transport_event
                          - id: 70046aab-9f82-4ea5-ac3a-66178d2ed963
                            type: transport_event
                    - id: 8ab02150-421c-4f12-aa0f-47db07669314
                      type: container
                      attributes:
                        number: SEGU5107747
                        seal_number: null
                        created_at: 2019-05-08T21:45:51Z
                        equipment_type: dry
                        equipment_length: 40
                        equipment_height: high_cube
                        weight_in_lbs: null
                        fees_at_pod_terminal: []
                        holds_at_pod_terminal: []
                        pickup_lfd: 2019-05-21T07:00:00Z
                        pickup_appointment_at: null
                        availability_known: true
                        available_for_pickup: false
                        pod_arrived_at: 2019-05-14T02:00:00Z
                        pod_discharged_at: null
                        final_destination_full_out_at: null
                        pod_full_out_at: 2019-05-17T16:08:09Z
                        empty_terminated_at: null
                      relationships:
                        shipment:
                          data:
                            id: 20cc2981-82f5-40b8-a902-b8b23ac09333
                            type: shipment
                        pod_terminal:
                          data:
                            id: 3e550f0e-ac2a-48fb-b242-5be45ecf2c78
                            type: terminal
                        transport_events:
                          data:
                          - id: 600c0649-2a98-4da1-a3b5-1feb2e1e0596
                            type: transport_event
                          - id: fdfe058a-e767-4509-9bf0-7de6e4be9f83
                            type: transport_event
                    - id: 6bd7146e-db95-46fa-a4b7-ffc3c9b78a17
                      type: container
                      attributes:
                        number: UACU5471567
                        seal_number: null
                        created_at: 2019-05-08T21:35:38Z
                        equipment_type: dry
                        equipment_length: 40
                        equipment_height: high_cube
                        weight_in_lbs: null
                        fees_at_pod_terminal: []
                        holds_at_pod_terminal: []
                        pickup_lfd: 2019-05-21T07:00:00Z
                        pickup_appointment_at: null
                        availability_known: true
                        available_for_pickup: false
                        pod_arrived_at: 2019-05-14T02:00:00Z
                        pod_discharged_at: null
                        final_destination_full_out_at: null
                        pod_full_out_at: 2019-05-16T22:18:25Z
                        empty_terminated_at: null
                      relationships:
                        shipment:
                          data:
                            id: 1cd49507-67fc-4921-87a0-c364ea7f4983
                            type: shipment
                        pod_terminal:
                          data:
                            id: 3e550f0e-ac2a-48fb-b242-5be45ecf2c78
                            type: terminal
                        transport_events:
                          data:
                          - id: 33f908de-b7ae-4657-b915-1e3075506933
                            type: transport_event
                          - id: 341d2a94-bdbc-4dd7-845e-916fcaebf245
                            type: transport_event
                    - id: d640c4ea-5807-4988-b56b-65e7b6de29d0
                      type: container
                      attributes:
                        number: UACU5524137
                        seal_number: null
                        created_at: 2019-05-08T17:12:41Z
                        equipment_type: dry
                        equipment_length: 40
                        equipment_height: high_cube
                        weight_in_lbs: null
                        fees_at_pod_terminal: []
                        holds_at_pod_terminal: []
                        pickup_lfd: 2019-05-21T07:00:00Z
                        pickup_appointment_at: null
                        availability_known: true
                        available_for_pickup: false
                        pod_arrived_at: 2019-05-14T02:00:00Z
                        pod_discharged_at: null
                        final_destination_full_out_at: null
                        pod_full_out_at: 2019-05-16T19:08:23Z
                        empty_terminated_at: null
                      relationships:
                        shipment:
                          data:
                            id: b01c16c3-0587-458a-8dd7-098849a0c5cd
                            type: shipment
                        pod_terminal:
                          data:
                            id: 3e550f0e-ac2a-48fb-b242-5be45ecf2c78
                            type: terminal
                        transport_events:
                          data:
                          - id: af73b15e-e4e7-46e7-b062-5e65b4b90b41
                            type: transport_event
                          - id: 4f2fe79f-1711-48e8-b567-db606a0dd056
                            type: transport_event
                    - id: 0f339ef2-a61e-4e7f-aa80-f11da3b34632
                      type: container
                      attributes:
                        number: HLXU5075494
                        seal_number: "026376"
                        created_at: 2019-04-25T21:36:28Z
                        equipment_type: dry
                        equipment_length: 40
                        equipment_height: standard
                        weight_in_lbs: null
                        fees_at_pod_terminal: []
                        holds_at_pod_terminal: []
                        pickup_lfd: 2019-05-07T07:00:00Z
                        pickup_appointment_at: null
                        availability_known: true
                        available_for_pickup: false
                        pod_arrived_at: 2019-04-28T07:00:00Z
                        pod_discharged_at: null
                        final_destination_full_out_at: null
                        pod_full_out_at: 2019-05-02T19:28:06Z
                        empty_terminated_at: null
                      relationships:
                        shipment:
                          data:
                            id: e05d8614-3975-49be-bedd-405df9c1b93e
                            type: shipment
                        pod_terminal:
                          data:
                            id: 3e550f0e-ac2a-48fb-b242-5be45ecf2c78
                            type: terminal
                        transport_events:
                          data:
                          - id: 45cd2c09-741d-4274-af06-40e47c811aee
                            type: transport_event
                          - id: 1a5df459-dfc1-4213-b75e-b3e26ec6dc24
                            type: transport_event
                    - id: 6dcf7287-9902-4773-8aa4-282039fa8bc1
                      type: container
                      attributes:
                        number: TGHU1471867
                        seal_number: null
                        created_at: 2019-04-25T21:17:31Z
                        equipment_type: dry
                        equipment_length: 20
                        equipment_height: standard
                        weight_in_lbs: null
                        fees_at_pod_terminal: []
                        holds_at_pod_terminal: []
                        pickup_lfd: 2019-05-07T07:00:00Z
                        pickup_appointment_at: null
                        availability_known: true
                        available_for_pickup: false
                        pod_arrived_at: 2019-04-28T07:00:00Z
                        pod_discharged_at: null
                        final_destination_full_out_at: null
                        pod_full_out_at: 2019-05-06T21:47:04Z
                        empty_terminated_at: null
                      relationships:
                        shipment:
                          data:
                            id: bb157764-43d6-49b4-ad8e-9e502005b4df
                            type: shipment
                        pod_terminal:
                          data:
                            id: 3e550f0e-ac2a-48fb-b242-5be45ecf2c78
                            type: terminal
                        transport_events:
                          data:
                          - id: a72106e2-c417-4a61-ba84-eab052641acc
                            type: transport_event
                          - id: 52fc252e-5396-4291-b9fb-903117501ab7
                            type: transport_event
                    - id: 4465c3b5-d2fa-4d43-b188-7e7607ec6dcc
                      type: container
                      attributes:
                        number: HLXU5101016
                        seal_number: null
                        created_at: 2019-04-25T20:45:40Z
                        equipment_type: dry
                        equipment_length: 40
                        equipment_height: standard
                        weight_in_lbs: null
                        fees_at_pod_terminal: []
                        holds_at_pod_terminal: []
                        pickup_lfd: 2019-05-07T07:00:00Z
                        pickup_appointment_at: null
                        availability_known: true
                        available_for_pickup: false
                        pod_arrived_at: 2019-04-29T00:12:00Z
                        pod_discharged_at: null
                        final_destination_full_out_at: null
                        pod_full_out_at: 2019-05-03T22:58:38Z
                        empty_terminated_at: null
                      relationships:
                        shipment:
                          data:
                            id: a20645d1-a719-48c6-b69f-f82c4c721f90
                            type: shipment
                        pod_terminal:
                          data:
                            id: 3e550f0e-ac2a-48fb-b242-5be45ecf2c78
                            type: terminal
                        transport_events:
                          data:
                          - id: 8b37f3fa-6306-46d1-b139-100af4c995c8
                            type: transport_event
                          - id: b2455095-5820-4ad6-9b28-abf66af1642b
                            type: transport_event
                    - id: b8a3a0a9-ea77-4707-aace-c23812e9b6d7
                      type: container
                      attributes:
                        number: UACU8574527
                        seal_number: null
                        created_at: 2019-04-25T20:58:36Z
                        equipment_type: dry
                        equipment_length: 40
                        equipment_height: standard
                        weight_in_lbs: null
                        fees_at_pod_terminal: []
                        holds_at_pod_terminal: []
                        pickup_lfd: 2019-05-07T07:00:00Z
                        pickup_appointment_at: null
                        availability_known: true
                        available_for_pickup: false
                        pod_arrived_at: 2019-04-28T07:00:00Z
                        pod_discharged_at: null
                        final_destination_full_out_at: null
                        pod_full_out_at: 2019-05-03T23:08:29Z
                        empty_terminated_at: null
                      relationships:
                        shipment:
                          data:
                            id: d9f7749c-eab3-48bd-a082-2db475669e1b
                            type: shipment
                        pod_terminal:
                          data:
                            id: 3e550f0e-ac2a-48fb-b242-5be45ecf2c78
                            type: terminal
                        transport_events:
                          data:
                          - id: 66343ca1-97a4-4bb9-abfa-708443ebc206
                            type: transport_event
                          - id: 6476546a-2ff0-49af-8664-0c3017bf68b2
                            type: transport_event
                    - id: cd238a58-a7c9-451c-92c7-97d66f6d1706
                      type: container
                      attributes:
                        number: MRKU4151565
                        seal_number: null
                        created_at: 2019-05-15T18:15:45Z
                        equipment_type: dry
                        equipment_length: 40
                        equipment_height: high_cube
                        weight_in_lbs: 39522
                        fees_at_pod_terminal: []
                        holds_at_pod_terminal: []
                        pickup_lfd: 2019-05-26T07:00:00Z
                        pickup_appointment_at: null
                        availability_known: true
                        available_for_pickup: false
                        pod_arrived_at: null
                        pod_discharged_at: null
                        final_destination_full_out_at: null
                        pod_full_out_at: 2019-05-20T23:07:06Z
                        empty_terminated_at: null
                      relationships:
                        shipment:
                          data:
                            id: 61ea98fe-9c02-45b6-b231-226ac10c78f5
                            type: shipment
                        pod_terminal:
                          data:
                            id: 3e550f0e-ac2a-48fb-b242-5be45ecf2c78
                            type: terminal
                        transport_events:
                          data: []
                    - id: 7f1ae474-085a-4bb2-a23c-bf37f2ed7f67
                      type: container
                      attributes:
                        number: TLLU5827929
                        seal_number: null
                        created_at: 2019-04-30T16:24:17Z
                        equipment_type: dry
                        equipment_length: 40
                        equipment_height: high_cube
                        weight_in_lbs: null
                        fees_at_pod_terminal: []
                        holds_at_pod_terminal: []
                        pickup_lfd: 2019-05-12T07:00:00Z
                        pickup_appointment_at: null
                        availability_known: true
                        available_for_pickup: false
                        pod_arrived_at: null
                        pod_discharged_at: null
                        final_destination_full_out_at: null
                        pod_full_out_at: 2019-05-09T18:18:40Z
                        empty_terminated_at: null
                      relationships:
                        shipment:
                          data:
                            id: ccb853d3-9263-40c5-a79b-78d55364c380
                            type: shipment
                        pod_terminal:
                          data:
                            id: 3e550f0e-ac2a-48fb-b242-5be45ecf2c78
                            type: terminal
                        transport_events:
                          data: []
                    - id: d5c91950-68c6-4106-93da-b73dfb08b4aa
                      type: container
                      attributes:
                        number: TCKU6404546
                        seal_number: null
                        created_at: 2019-04-29T19:27:04Z
                        equipment_type: dry
                        equipment_length: 40
                        equipment_height: high_cube
                        weight_in_lbs: null
                        fees_at_pod_terminal: []
                        holds_at_pod_terminal: []
                        pickup_lfd: 2019-05-12T07:00:00Z
                        pickup_appointment_at: null
                        availability_known: true
                        available_for_pickup: false
                        pod_arrived_at: null
                        pod_discharged_at: null
                        final_destination_full_out_at: null
                        pod_full_out_at: 2019-05-08T20:40:06Z
                        empty_terminated_at: null
                      relationships:
                        shipment:
                          data:
                            id: 9fa62c77-6091-4652-b70d-a8c5060c8638
                            type: shipment
                        pod_terminal:
                          data:
                            id: 3e550f0e-ac2a-48fb-b242-5be45ecf2c78
                            type: terminal
                        transport_events:
                          data: []
                    - id: 6f36e54b-4bdd-451c-af83-1db946f215fe
                      type: container
                      attributes:
                        number: MOFU6829869
                        seal_number: null
                        created_at: 2019-05-02T15:31:07Z
                        equipment_type: dry
                        equipment_length: 40
                        equipment_height: standard
                        weight_in_lbs: null
                        fees_at_pod_terminal: []
                        holds_at_pod_terminal: []
                        pickup_lfd: 2019-05-13T07:00:00Z
                        pickup_appointment_at: null
                        availability_known: true
                        available_for_pickup: false
                        pod_arrived_at: null
                        pod_discharged_at: null
                        final_destination_full_out_at: null
                        pod_full_out_at: 2019-05-10T14:27:42Z
                        empty_terminated_at: null
                      relationships:
                        shipment:
                          data:
                            id: 8831b8ab-155c-4569-9946-5fe245571cfb
                            type: shipment
                        pod_terminal:
                          data:
                            id: 3e550f0e-ac2a-48fb-b242-5be45ecf2c78
                            type: terminal
                        transport_events:
                          data: []
                    - id: 0c1362dd-00f2-4de8-85c8-d6187ba3bea6
                      type: container
                      attributes:
                        number: TCNU1126827
                        seal_number: null
                        created_at: 2019-04-29T19:33:59Z
                        equipment_type: dry
                        equipment_length: 40
                        equipment_height: high_cube
                        weight_in_lbs: null
                        fees_at_pod_terminal: []
                        holds_at_pod_terminal: []
                        pickup_lfd: 2019-05-12T07:00:00Z
                        pickup_appointment_at: null
                        availability_known: true
                        available_for_pickup: false
                        pod_arrived_at: null
                        pod_discharged_at: null
                        final_destination_full_out_at: null
                        pod_full_out_at: 2019-05-08T23:29:59Z
                        empty_terminated_at: null
                      relationships:
                        shipment:
                          data:
                            id: 03845d0d-d54b-494c-97ef-ffa3e80c74b1
                            type: shipment
                        pod_terminal:
                          data:
                            id: 3e550f0e-ac2a-48fb-b242-5be45ecf2c78
                            type: terminal
                        transport_events:
                          data: []
                    meta:
                      size: 18
                      total: 18
                    links:
                      self: https://api.terminal49.com/v2/containers
                      current: https://api.terminal49.com/v2/containers?page[number]=1
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
          description: OK
      summary: List containers
      tags:
      - Containers
  /containers/{id}:
    get:
      description: Retrieves the details of a container.
      operationId: get-containers-id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Comma delimited list of relations to include
        explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example Container:
                  value:
                    data:
                      id: eeafd337-72b5-4e5c-87cb-9ef83fa99cf4
                      type: container
                      attributes:
                        number: HLXU8143951
                        seal_number: null
                        created_at: 2020-04-09T21:28:21Z
                        equipment_type: dry
                        equipment_length: 40
                        equipment_height: high_cube
                        weight_in_lbs: null
                        fees_at_pod_terminal: []
                        holds_at_pod_terminal: []
                        pickup_lfd: 2020-04-20T07:00:00Z
                        pickup_appointment_at: null
                        availability_known: true
                        available_for_pickup: false
                        pod_arrived_at: null
                        pod_discharged_at: null
                        final_destination_full_out_at: null
                        pod_full_out_at: 2020-04-14T21:07:54Z
                        empty_terminated_at: null
                      relationships:
                        shipment:
                          data:
                            id: 06264731-503e-498e-bc76-f90b87b31562
                            type: shipment
                        pod_terminal:
                          data:
                            id: 3e550f0e-ac2a-48fb-b242-5be45ecf2c78
                            type: terminal
                        transport_events:
                          data:
                          - id: efc3f3c1-cdc2-4a7d-a176-762ddec107b8
                            type: transport_event
                          - id: 951058bd-2c3b-4bcc-94e1-9be2526b9687
                            type: transport_event
                          - id: 69af6795-56c2-4157-9a87-afd761cc85a0
                            type: transport_event
                          - id: 68c3c29a-504a-4dbb-ad27-7194ef42d484
                            type: transport_event
                          - id: 03349405-a9be-4f3e-abde-28f2cb3922bd
                            type: transport_event
                          - id: ba9f85b4-658d-4f23-9308-635964df8037
                            type: transport_event
                    links:
                      self: https://api.terminal49.com/v2/containers/eeafd337-72b5-4e5c-87cb-9ef83fa99cf4
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
          description: OK
      summary: Get a container
      tags:
      - Containers
  /containers/{id}/raw_events:
    get:
      description: "Get a list of past and futuer (estimated) milestones for a container\
        \ as reported by the carrier. Some of the data is normalized even though the\
        \ API is called raw_events. \n\nNormalized attributes: `event`, `estimated_at`,\
        \ `actual_at` timestamps. Not all of the `event` values have been normalized.\
        \ You can expect the the events related to container movements to be normalized\
        \ but there are cases (paperwork \"milestones\" like customs release) where\
        \ events are not normalized. "
      operationId: get-containers-id-raw_events
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example Raw Events:
                  value:
                    data:
                    - id: ca6b760f-13e9-4bf6-ab49-3cf2e40757fb
                      type: raw_event
                      attributes:
                        actual_on: 2020-03-03
                        estimated_at: null
                        actual_at: null
                        event: empty_out
                        index: 0
                        original_event: Truck Gate out empty
                        created_at: 2020-04-18T00:18:27Z
                        voyage_number: null
                        location_name: null
                        location_locode: null
                        vessel_name: null
                        vessel_imo: null
                        timezone: null
                      relationships:
                        location:
                          data: null
                        vessel:
                          data: null
                    - id: bcdfc796-0570-4c85-9336-d6c7d0da02d2
                      type: raw_event
                      attributes:
                        actual_on: 2020-03-09
                        estimated_at: null
                        actual_at: null
                        event: full_in
                        index: 1
                        original_event: Truck Arrival in
                        created_at: 2020-04-18T00:18:27Z
                        voyage_number: null
                        location_name: null
                        location_locode: null
                        vessel_name: null
                        vessel_imo: null
                        timezone: null
                      relationships:
                        location:
[...]
